framework: >= net40
source https://nuget.org/api/v2

nuget FAKE
nuget DotLiquid
nuget Suave
nuget FSharp.Formatting prerelease
nuget FSharpVSPowerTools.Core 2.3.0
nuget Newtonsoft.Json
nuget WindowsAzure.Storage
