body {
  background-color: #153374;
  margin: 0;
  padding: 0;
}

.column {
  padding:30px;
  max-width: 1000px;
  background-image:url('img/bg1.png');
  background-size: 100% auto;
  background-repeat: repeat-y;
  min-height: 100vh;
  margin: 0  auto;
}

.row { 
  clear:both;
}
.row img { 
  float:right;
  max-width:40%;
  margin-top:30px;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura Std Medium", sans-serif;
  color: #F1DEC2;
}
.info p { 
  font-family: "Futura Std Medium", sans-serif;
  color: #F1DEC2; 
  margin:0px 0px 10px 0px; 
  font-size:12pt;
  line-height:1.4em;
}
.info p.summary { 
  margin:0px 0px 40px 0px; 
  font-size:16pt;
  line-height:1.3em;
}
.info li { 
  font-family: "Futura Std Medium", sans-serif;
  color: #F1DEC2; 
  margin:0px 0px 2px 0px; 
  padding:0px;
  font-size:12pt;
  line-height:1.3em;
}
.info ul {
  margin:0px 0px 15px 0px;
  padding:0px 0px 0px 18px;
}
.info a {
  color: #F1DEC2; 
  text-decoration:underline;
}
h1 { text-align:center; font-size:40pt; color:#173371; margin:0px; }
h2 { text-align:center; font-size:28pt; color:#173371;  margin:10px 0px 0px 0px;}
h3 { font-size:28pt; margin:0px 0px 20px 0px; }
h4 { font-size:16pt; margin:0px 0px 5px 0px; }

.info {
  background:rgba(23,51,113,0.7);
  border-radius:20px;
  padding:30px;
  margin-right:42%;
}

header {
  clear:both;
  margin:50px 0px;
  background:rgba(44,104,172,0.7);
  border-radius:20px;
  padding:30px;
}
header.first {
  margin-top:0px;
}
header p {
  font-family: "Futura Std Medium", sans-serif;
  color: #173371; 
  margin:20px 30px 20px 30px; 
  font-size:16pt;
  line-height:1.3em;
}


@media (min-width: 768px) {
  .column { background-image:url('img/bg2.png'); }
}
@media (max-width: 992px) {
  h1 { font-size:30pt; }
  h2, h3 { font-size:24pt; }
  .info p.summary { font-size:14pt; }
}
@media (max-width: 600px) {
  a.panel { display:inline-block; margin:0 auto; text-align:center; }
  .row img { float:none; margin:0px; }
  .info { margin:0px; }
}