{% extends "page.html" %}
{% block head %}
  <title>404 Page not found - Tomas Petricek</title>
  <meta name="description" content="I'm a computer scienctist, open-source developer and an occasional philosopher of science. I'm working on tools for data-driven storytelling, contribute to a number of F# projects and I run trainings and offer consulting via fsharpWorks." />
  <meta name="author" content="Tomas Petricek" />
  <meta name="copyright" content="Tomas Petricek" />
{% endblock %}

{% block body %}
<article>
  <div class="container"><div class="row">
  <div class="col-lg-2 col-md-1"></div>
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
    
    <h1 style="text-align:center;font-size:250%;margin:60px 0px 30px 0px"><strong>404</strong>: FileNotFoundException</h1>
     <p style="font-size:110%;margin-bottom:100px;margin-top:50px;">
       Bummer! This page does not exist. Try looking at the archives, going to the homepage or
       use your favorite search engine to find it. If you're really sure that something should
       be here, then please open a <a href="https://github.com/tpetricek/tomasp.net">GitHub issue</a>
       or let me know on Twitter via <a href="http://twitter.com/tomaspetricek">@tomaspetricek</a>.
     </p>
  </div></div>
  </div>
<article>
{% endblock %}
