{% extends "page.html" %}
{% block head %}
  <title>404 Page not found - Tomas Petricek</title>
  <meta name="description" content="I'm a computer scientist, open-source developer and an occasional philosopher of science. I'm working on tools for data-driven storytelling, contribute to a number of F# projects and I run trainings and offer consulting via fsharpWorks." />
  <meta name="author" content="Tomas Petricek" />
  <meta name="copyright" content="Tomas Petricek" />
{% endblock %}

{% block body %}
<span class="tplink"><a href="/">TP</a></span>

<article>
<h1 style="text-align:center;margin:60px 0px 30px 0px"><strong>404</strong>: FileNotFoundException</h1>
<p style="font-size:110%;margin-bottom:100px;margin-top:50px;">
  Bummer! This page does not exist. Try looking at the <a href="/blog">blog archives</a>, 
  <a href="/academic">list of publications</a>,  going to the <a href="/">homepage</a> or
  use your favorite search engine to find it. If you're really sure that something should
  be here, then please open a <a href="https://github.com/tpetricek/tomasp.net">GitHub issue</a>
  or let me know on Twitter via <a href="http://twitter.com/tomaspetricek">@tomaspetricek</a>.
</p>
</article>
{% endblock %}
