{% extends "page.html" %}

{% block bodyclass %}academic{% endblock %}

{% block header %}
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-12" style="padding:0px">
    <h2 itemprop="name">Tomas Petricek's Publications</h1>
    <h3 itemprop="description">Searching for new ways of thinking in programming &amp; working with data</h2>
    <div> 
      <img src="/img/tomas-sl-sq.jpg" class="hidden-lg hidden-md hidden-sm tomas-float" />
        <p>I'm a visiting researcher at the <a href="https://turing.ac.uk/">Alan Turing Institute</a>
          working on tools for data-driven storytelling. I also work closely with the F# team in 
          <a href="https://www.microsoft.com/en-us/research/">Microsoft Research</a> and I recently
          submitted my PhD thesis at <a href="http://www.cl.cam.ac.uk/">University of Cambridge</a>.
          If you read 3 of my papers, consider the following ones!
    </div>
  </div>
  <div class="hidden-lg hidden-md col-sm-4 hidden-xs">
    <img src="/img/tomas-sl-sq.jpg" class="tomas-square" />
    <p class="social">
      <a title="Follow my occasional rants" itemprop="sameAs" href="http://twitter.com/tomaspetricek"><i class="fa fa-twitter"></i></a>
      <a title="Send me a message" itemprop="sameAs" href="mailto:tomas@tomasp.net"><i class="fa fa-envelope"></i></a>
      <a title="Most of my open-source projects" itemprop="sameAs" href="http://github.com/tpetricek"><i class="fa fa-github-alt"></i></a>
      <a title="My F# answers on StackOverflow" itemprop="sameAs" href="http://stackoverflow.com/users/33518/tomas-petricek"><i class="fa fa-stack-overflow"></i></a>
      <a title="Read my papers!" itemprop="sameAs" href="http://dblp.uni-trier.de/pers/hd/p/Petricek:Tomas"><i class="fa fa-university"></i></a>
      <a title="Send me recruiter spam?" itemprop="sameAs" href="https://www.linkedin.com/in/tomaspetricek"><i class="fa fa-linkedin-square"></i></a>
    </p>
  </div>
</div>
  
<div class="row themes">
  <div class="col-sm-4">
    <h4><a href="/academic/papers/fsharp-data/"><i class="fa fa-code"></i> Type Providers</a></h3>
    <p>F# Data infers types from sample XML and JSON documents and safely embed them into F#.
      Our <a href="/academic/papers/fsharp-data/">PLDI 2016</a> paper 
      is an ACM SIGPLAN Research Highligt.</p>              
  </div>
  <div class="col-sm-4">
    <h4><a href="/academic/papers/structural/"><i class="fa fa-th"></i> Coeffects</a></h3>
    <p>
      Coeffects are theory of context-aware programming languages developed in my PhD thesis.
      Check out our <a href="/academic/papers/structural/">ICFP 2014</a> paper
      or my <a href="/coeffects">interactive essay</a>.</p>
  </div>
  <div class="col-sm-4">
    <h4><a href="/academic/papers/against-types/"><i class="fa fa-quote-left"></i> Philosophy</a></h3>
    <p>
      How different communities approach errors? My paper on history and philosophy of errors
      published in <a href="/academic/papers/failures/">‹Programming› 2017</a> was selected as reviewers choice.</p>
  </div>
</div>
{% endblock %}  
