{% extends "page.html" %}
{% block head %}
<title>Calendar {{ model.Year }} - Tomas Petricek's Photos</title>

<meta name="description" content="Calendar {{ model.Year }} - Tomas Petricek's Photos" />
<meta name="keywords" content="photo, photography, calendar, traveling" />  
<meta name="author" content="Tomas Petricek" />
<meta name="copyright" content="Tomas Petricek" />

<meta property="og:title" content="Calendar {{ model.Year }} - Tomas Petricek's Photos" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://tomasp.net/calendar/{{ model.Year }}/" />
<meta property="og:image" content="https://tomaspweb.blob.core.windows.net/calendar/{{ model.Year }}/january.jpg" />
<meta property="og:description" content="When the time permits, I enjoy traveling. The calendar shows a new picture each month." />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@tomaspetricek">
<meta name="twitter:creator" content="@tomaspetricek">  
<meta name="twitter:title" content="Calendar {{ model.Year }} - Tomas Petricek's Photos" />
<meta name="twitter:image" content="https://tomaspweb.blob.core.windows.net/calendar/{{ model.Year }}/january.jpg" />
<meta name="twitter:description" content="When the time permits, I enjoy traveling. The calendar shows a new picture each month." />
{% endblock %}

{% block bodyclass %}calendar{% endblock %}

{% block body %}
<span class="tplink"><a href="/">TP</a></span>

<article>
  <h1>Calendar {{ model.Year }}</h1>

  {% for m in model.Months %}
  <div class="month">
    <h2>{{ m.Name }} {{ model.Year }}</h2>
    <div class="photo">
      <a href="https://tomaspweb.blob.core.windows.net/calendar/{{ model.Year }}/{{ m.Link }}-original.jpg">
        <img itemprop="image" src="https://tomaspweb.blob.core.windows.net/calendar/{{ model.Year }}/{{ m.Link }}.jpg" />
      </a>
    </div>
  </div>
  {% endfor %}

</article>
{% endblock %}
