{% extends "academic.html" %}
{% block head %}
<title>Tomas Petricek - New ways of thinking in programming &amp; working with data</title>

<meta name="description" content="I'm a computer scienctist, open-source developer and an occasional philosopher of science. I'm working on tools for data-driven storytelling, contribute to a number of F# projects and I run trainings and offer consulting via fsharpWorks." />
<meta name="keywords" content="data-driven storytelling, F#, fsharp, philosophy of science, programming languages and tools" />  
<meta name="author" content="Tomas Petricek" />
<meta name="copyright" content="Tomas Petricek" />

<meta property="og:title" content="Tomas Petricek - New ways of thinking in programming &amp; working with data" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://tomasp.net" />
<meta property="og:image" content="http://tomasp.net/img/tomas-sl-sq.jpg" />
<meta property="og:description" content="I'm a computer scienctist, open-source developer and an occasional philosopher of science. I'm working on tools for data-driven storytelling, contribute to a number of F# projects and I run trainings and offer consulting via fsharpWorks." />
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tomaspetricek">
<meta name="twitter:creator" content="@tomaspetricek">  
<meta name="twitter:title" content="Tomas Petricek - New ways of thinking in programming &amp; working with data" />
<meta name="twitter:image" content="http://tomasp.net/img/tomas-sl-sq.jpg" />
<meta name="twitter:description" content="I'm a computer scienctist, open-source developer and an occasional philosopher of science. I'm working on tools for data-driven storytelling, contribute to a number of F# projects and I run trainings and offer consulting via fsharpWorks." />
{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block body %}
<article class="academic">
  <div class="container">  
    <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2 class="first">Journal and conference publications</h2>
      <p>The following papers have been published in recognized top-tier programming language 
        conferences and in journals and present my most important results. Further workshop 
        publications and abstracts, many of which are highly-cited, are listed below.</p>
        
      {% for post in model.Papers %}
      {% if post.Tags contains "top" %}
        <div itemscope itemtype="http://schema.org/Article">
          <h4 itemprop="name"><a itemprop="sameAs" href="{{ post.Url }}">{{ post.Title }}</a></h4>
          <meta itemprop="image" content="" />
          <meta itemprop="datePublished" content="{{ post.Date | dateNice }}" />
          <meta itemprop="headline" content="{{ post.Title }}" />
          <p class="h3-datepub" itemprop="author publisher">{{ post.Subtitle }}</p>            
          <div itemprop="description">            
            <p>{{ post.Description }}</p>
          </div>
        </div>
      {% endif %}
      {% endfor %}

      <h2>Workshop papers and abstracts</h2>
      <p>The following papers cover a wide range of topics from data journalism, theory and practice 
        of programming to philosophy and history of compter science. They appeared in workshop and
        conference proceedings, but many have been highly influential.</p>
        
      {% for post in model.Papers %}
      {% if post.Tags contains "article" %}
      {% elsif post.Tags contains "thesis" %}
      {% elsif post.Tags contains "draft" %}
      {% elsif post.Tags contains "top" %}
      {% else %}
        <div itemscope itemtype="http://schema.org/Article">
          <h4 itemprop="name"><a itemprop="sameAs" href="{{ post.Url }}">{{ post.Title }}</a></h4>
          <meta itemprop="image" content="" />
          <meta itemprop="datePublished" content="{{ post.Date | dateNice }}" />
          <meta itemprop="headline" content="{{ post.Title }}" />
          <p class="h3-datepub" itemprop="author publisher">{{ post.Subtitle }}</p>            
          <div itemprop="description">            
            <p>{{ post.Description }}</p>
          </div>
        </div>
      {% endif %}
      {% endfor %}

      <h2>Theses and older projects</h2>
      <p>Here you'll find my Bachelor and Master thesis from Charles University in Prague.
        My master thesis introduced <em>joinads</em> and my Bachelor thesis described one of the
        first functional-language to JavaScript translators.</p>

      {% for post in model.Papers %}
      {% if post.Tags contains "thesis" %}
        <div itemscope itemtype="http://schema.org/Article">
          <h4 itemprop="name"><a itemprop="sameAs" href="{{ post.Url }}">{{ post.Title }}</a></h4>
          <meta itemprop="image" content="" />
          <meta itemprop="datePublished" content="{{ post.Date | dateNice }}" />
          <meta itemprop="headline" content="{{ post.Title }}" />
          <p class="h3-datepub" itemprop="author publisher">{{ post.Subtitle }}</p>            
          <div itemprop="description">            
            <p>{{ @post.Description }}</p>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      
      <h2>Notes, articles and reports</h2>
      <p>I wrote a couple of articles, notes and reports that were never formally published,
        but might still be of interest. This includes my work on compiling F# to JavaScript
        and notes on teaching functional programming.</p>

      {% for post in model.Papers %}
      {% if post.Tags contains "article" %}
        <div itemscope itemtype="http://schema.org/Article">
          <h4 itemprop="name"><a itemprop="sameAs" href="{{ post.Url }}">{{ post.Title }}</a></h4>
          <meta itemprop="image" content="" />
          <meta itemprop="datePublished" content="{{ post.Date | dateNice }}" />
          <meta itemprop="headline" content="{{ post.Title }}" />
          <p class="h3-datepub" itemprop="author publisher">{{ post.Subtitle }}</p>            
          <div itemprop="description">            
            <p>{{ @post.Description }}</p>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      

    </div>
    <div class="col-sm-12 col-md-6">
      <div class="black-box news-box">      
      <h2 class="first" style="margin-left:10px">Programming tools for data journalism</h2>      
      <p style="line-height:16pt;margin-left:10px;margin-bottom:10px">I was recently awarded funding 
        from <a href="https://digitalnewsinitiative.com/">Google Digital News Initiative</a> to work 
        on <a href="http://thegamma.net">TheGamma</a>. TheGamma is available on <a href="https://github.com/the-gamma">GitHub</a>
        and <a href="https://www.npmjs.com/package/thegamma-script">npm</a>. You can see it in action in three sample articles:</p>
      <ul>
        <li><a href="http://gamma.turing.ac.uk/expenditure/">Accounting for democracy</a> looks at UK government spending</li>
        <li><a href="http://gamma.turing.ac.uk/markets/">Expected and unexpected</a> lets you guess market trends</li>
        <li><a href="http://rio2016.thegamma.net/">Visualising Olympic medalists</a> looks at the history of Olympics</li>
      </ul>
      <p style="line-height:16pt;margin-left:10px;margin-bottom:10px">The work on pivot type provider appeared
        in <a href="papers/pivot/">ECOOP 2017</a> and a recent <a href="drafts/live/">draft</a> looks at the live
        programming aspects of TheGamma.</p>
      <h2 style="margin-left:10px">Context-aware programming languages</h2>      
      <p style="line-height:16pt;margin-left:10px;margin-bottom:20px">In my <a href="theses/coeffects">PhD thesis</a>, I worked on theory of context-aware programming
        languages also known as <em>coeffects</em>. The best way to learn about coeffects is to 
        read my <a href="http://tomasp.net/coeffects/">interactive essay</a> which explains the concepts
        and lets you run simple programs interactively. For academic references, please refer to our
        <a href="papers/structural/">ICFP 2014</a> and  <a href="papers/coeffects/">ICALP 2013</a> papers.</p>
      </div>
      
      <h2>Work in progress</h2>
      <p>Start here if you want to know what I'm currently working on. The documents below are
        unpublished drafts and any feedback is more than welcome!</p>

      {% for post in model.Papers %}
      {% if post.Tags contains "draft" %}
        <div itemscope itemtype="http://schema.org/Article">
          <h4 itemprop="name">Draft: <a itemprop="sameAs" href="{{ post.Url }}">{{ post.Title }}</a></h4>
          <meta itemprop="image" content="" />
          <meta itemprop="datePublished" content="{{ post.Date | dateNice }}" />
          <meta itemprop="headline" content="{{ post.Title }}" />
          <p class="h3-datepub" itemprop="author publisher">{{ post.Subtitle }}</p>            
          <div itemprop="description">            
            <p>{{ @post.Description }}</p>
          </div>
        </div>
      {% endif %}
      {% endfor %}

      <div class="black-box talks-box">      
      <h2 class="first" style="margin-left:10px">Recorded research talks</h2>      
      <ul class="spaces">
        <li><strong>Video</strong>: <a href="https://www.youtube.com/watch?v=hel0ElbGong">Data exploration through dot-driven development</a><br/>
        (Presentation from ECOOP 2017, Barcelona)</li>
        <li><strong>Video</strong>: <a href="https://www.youtube.com/watch?v=aHjgpmzFjOA">The Gamma: Towards open and transparent data-driven storytelling</a>
        (Fellow Short Talks, Alan Turing Institute)</li>
        <li><strong>Video</strong>: <a href="https://www.youtube.com/watch?v=4xVje0w0R-Y">Types from data: Making structured data first-class citizens in F#</a>
        (Presentation from PLDI 2016, Santa Barbara)</li>
        <li><strong>Video</strong>: <a href="https://www.youtube.com/watch?v=ytW6dPdTj3g">Learning to Live with Errors</a><br />
        (CodeMesh 2016 talk based on my essay)</li>
        <li><strong>Video</strong>: <a href="https://vimeo.com/160733435">History and philosophy of types</a><br />
        (LambdaDays 2016 talk based on my essay)</li>
        <li><strong>Video</strong>: <a href="https://www.youtube.com/watch?v=xtxx4iADMbM">Coeffects &mdash; a calculus of context-dependent computation</a>
        (Presentation from ICFP 2014, Gothenburg)</li>
        <li><strong>Video</strong>: <a href="https://www.youtube.com/watch?v=_YOSAXKY-JI">Doing web-based data anlytics with F#</a><br />
        (Presentation from ML Workshop 2014, Gothenburg)</li>
        <li><strong>Video</strong>: <a href="http://channel9.msdn.com/posts/Understanding-the-World-with-F">Understanding the World with F#</a><br />
        (Video lecture, Recorded at Channel 9, 2013)</li>
        <li><strong>Video</strong>: <a href="http://langnetsymposium.com/2009/talks/22-TomasPatricek-Reactive.html">Reactive pattern matching for F#</a><br />
        (Lang.NET Symposium 2009, Microsoft, Redmond)</li>
      </ul>      
      </div>
      
      <div style="position:relative;height:1px;overflow:hidden;top:-80px;"><a name="supervis">&#160;</a></div>
      
      <h2>Supervisions and teaching</h2>
      
      <p><img src="http://tomasp.net/academic/img/cam.png" style="float:right;margin:20px 0px 30px 20px" title="Cambridge University"/></p>
      
      <p>I'm still based in Cambridge and I'm happy to supervise Part II (final year) projects that 
      are related to data science, visualization, programming languages programming, F# (or other 
      functional languages), JavaScript and web programming or other interesting topics.
      If you're at Cambridge and want to discuss your idea, <a href="mailto:tomas@tomasp.net">get in touch!</a>
      I also supervised a few Charles University students every now and then.</p>
      
      <p>To get an idea about projects, have a look at the work of some great Part II students
        who I had the pleasure of supervising:</p>
      
      <ul>
        <li>Eduardo Munoz, working on <a href="http://edua.rdomunoz.com/diss.pdf">Type-safe multilanguage programming</a></li>
        <li>Lewis Brown's <a href="https://github.com/Lewix/fsharp-refactor">Refactoring tool for F#</a>, also at <a href="http://monosoc.blogspot.com/2013/10/the-google-summer-of-code-is-over-and.html">GSoC 2013</a></li>
        <li>David Barker, working on <a href="https://bitbucket.org/animatinator/c-arrows">Functional Reactive Programming for Data Binding in C# (Bitbucket)</a></li>
      </ul>
      
      <p>I also supervised a number of Computer Laboratory courses for various colleges
      and I'm happy to supervise them again. The courses include the obvious PL-related
      suspects including
        <a href="http://www.cl.cam.ac.uk/teaching/1213/Semantics/">Semantics of Programming Languages</a>,
        <a href="http://www.cl.cam.ac.uk/teaching/1112/ConceptsPL/">Concepts in Programming Language</a>,
        <a href="http://www.cl.cam.ac.uk/teaching/1112/Types/">Types</a>,
        <a href="http://www.cl.cam.ac.uk/teaching/1112/OptComp/">Optimising Compilers</a> and 
        <a href="http://www.cl.cam.ac.uk/teaching/1112/DenotSem/">Denotational Semantics</a>.
      </p>
      
      <h2>Academic community</h2>
      
      <p>I am a co-chair and co-organiser of <a href="http://2017.programmingconference.org/track/refuses-2017">Salon des Refusés 2017</a>,
        and <a href="https://www.shift-society.org/salon/2018">Salon des Refusés 2018</a>,
        a workshop series at <a href="http://2018.programmingconference.org/">‹Programming›</a> that provided a venue for 
        presenting and discussing new ideas and new ways of doing computer science.</p>
        
      <p>I was a member of the Program Committee (PC) for
      <abbr title="Implementation of Functional Languages">IFL 2018</abbr>,
      <abbr title="Off the Beaten Track 2017">OBT 2017</abbr>,
      <abbr title="Type-Driven Development 2016">TyDe 2016</abbr>,
      <abbr title="History and Philosophy of Programming 2016">HaPoP 3</abbr>,  
      <abbr title="Trends in Functional Programming 2015">TFP 2015</abbr>,  
      <abbr title="ML Workshop 2013">ML 2013</abbr>, <abbr title="ML Workshop 2012">ML 2012</abbr>,
      <abbr title="Commercial Users of Functional Programming 2012">CUFP 2012</abbr>
      and <abbr title="Programming Semantic Web 2012">PSW 2012</abbr>
      and a member of External Review Committee (XRC) for
      <abbr title="International Symposium on Memory Management 2012">ISMM 2012</abbr> and
      <abbr title="International Symposium on Memory Management 2011">ISMM 2011</abbr>.
      I also reviewed papers for
      <abbr title="Philosophy &amp; Technology Journal">P &amp; T</abbr>,
      <abbr title="Journal of Logical and Algebraic Methods in Programming">JLAMP</abbr>,
      <abbr title="Concurrency and Communication-Centric Software">PLACES 2016</abbr>,
      <abbr title="Computability in Europe">CiE 2015</abbr>,
      <abbr title="Principles and Practice of Declarative Programming">PPDP 2015</abbr>,
      <abbr title="Principles and Practice of Declarative Programming">PPDP 2013</abbr>,
      <abbr title="Typed Lambda Calculi and Applications 2013">TLCA 2013</abbr>,
      <abbr title="Compiler Construction 2013">CC 2013</abbr> and
      <abbr title="European Conference on Object Oriented Programming 2012">ECOOP 2012</abbr>.</p>
      
      <p>I'm happy to review papers that (broadly) match my interest in data-driven programming, 
      programming models, types, concurrent and reactive programming, web and language integration,
      philosophy of programming (and also any controversial, provocative and novel work).</p>
      
      <h2>Teaching in Prague</h2>
      
      <p>As an undergraduate and Master's student at the Charles University in Prague, I
      helped to organize and teach non-compulsory courses.</p>
      
      <h4><a href="/academic/materials/mff-fsharp-09/">Programming languages F# and OCaml</a> (English)</h4>
      <p class="h3-datepub">Charles University, Winter 2009/2010</p>
      
      <p>The lecture teaches programming in the ML-family of languages and highlights the mathematical
      foundations of ML languages. As a results students should find it easier to understand many
      mathematical concepts. It also explains advanced F# features such as computation expressions.</p>
      
      <h4><a href="https://github.com/tpetricek/Documents/tree/master/Archive/WinFX%20(2005-2006)">WinFX Programming</a> (Czech)</h4>
      <p class="h3-datepub">Charles University, Summer 2005/2006</p>
      
      <p>A practically oriented seminar about Windows programming using the WinFX framework (now called
      WPF, WCF and WF), which was in beta version in 2006. It discussed graphics, working with data
      and communication between applications (Jointly taught with Vojtech Jakl).</p>
      
      <div class="black-box calendar-box calendar-year-item">
        <script type="text/javascript">
          var monthNames =
            ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"];
          var d = new Date();
          var m = monthNames[d.getMonth()];
          var y = d.getFullYear();
          var ml = m.toLowerCase();
          document.writeln("<h3><a href=\"/calendar/" + y + "/" + ml + "/\">Calendar &mdash; " + m + " " + y + "</a></h3>");
          document.writeln("<div class='wrapper'><a href=\"/calendar/" + y + "/" + ml + "/\">" +
            "<img src=\"https://tomaspweb.blob.core.windows.net/calendar/" + y + "/" + ml + "-preview.jpg\" style=\"border-style:none;\" />" +
            "</a></div>");
        </script>
        <p>When the time permits, I enjoy traveling. The calendar shows a new picture each month. See
          <a href="/calendar/2005/">2005</a>, <a href="/calendar/2006/">2006</a>,
          <a href="/calendar/2007/">2007</a>, <a href="/calendar/2008/">2008</a>,
          <a href="/calendar/2009/">2009</a>, <a href="/calendar/2010/">2010</a>,
          <a href="/calendar/2011/">2011</a>, <a href="/calendar/2012/">2012</a>,
          <a href="/calendar/2013/">2013</a>, <a href="/calendar/2014/">2014</a>,
          <a href="/calendar/2015/">2015</a>, <a href="/calendar/2016/">2016</a>,
          <a href="/calendar/2017/">2017</a>
          and the first photos of <a href="/calendar/2018/">2018</a>.
        </p>
      </div>      
   
    </div>
    </div>
  </div>
</article>
{% endblock %}
