{% extends "page.html" %}
{% block head %}
<title>Tomas Petricek - New ways of thinking in programming &amp; working with data</title>

<meta name="description" content="I'm a computer scienctist, open-source developer and an occasional philosopher of science. I'm working on tools for data-driven storytelling, contribute to a number of F# projects and I run trainings and offer consulting via fsharpWorks." />
<meta name="keywords" content="data-driven storytelling, F#, fsharp, philosophy of science, programming langauges and tools" />  
<meta name="author" content="Tomas Petricek" />
<meta name="copyright" content="Tomas Petricek" />

<meta property="og:title" content="Tomas Petricek - New ways of thinking in programming &amp; working with data" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://tomasp.net" />
<meta property="og:image" content="http://tomasp.net/img/tomas-sl-sq.jpg" />
<meta property="og:description" content="I'm a computer scienctist, open-source developer and an occasional philosopher of science. I'm working on tools for data-driven storytelling, contribute to a number of F# projects and I run trainings and offer consulting via fsharpWorks." />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tomaspetricek">
<meta name="twitter:creator" content="@tomaspetricek">  
<meta name="twitter:title" content="Tomas Petricek - New ways of thinking in programming &amp; working with data" />
<meta name="twitter:image" content="http://tomasp.net/img/tomas-sl-sq.jpg" />
<meta name="twitter:description" content="I'm a computer scienctist, open-source developer and an occasional philosopher of science. I'm working on tools for data-driven storytelling, contribute to a number of F# projects and I run trainings and offer consulting via fsharpWorks." />
{% endblock %}

{% block bodyclass %}
home
{% endblock %}

{% block body %}
<article>
  <div class="container"> 
    <div class="row">
      <div class="col-sm-6 col-lg-5">
        <h2><a href="http://thegamma.net" class="noblue">Data-driven storytelling</a></h2>
        <img src="/img/gamma.png" style="width:80px;float:right;margin:10px"/>
        <p>
          Everybody can use Excel, but creating a web-based data-driven story requires
          professional developers, if not a team. I'm working on making data-driven 
          storytelling easier, more open and reproducible.
        </p>
        <p>
          <a href="http://thegamma.net">The Gamma</a> is a research project to build tools
          that easily integrate with modern data sources (open government data, public online 
          sources) and let users easily create visualizations that are directly linked to 
          the data, making the visualizations more transparent, reproducible, but also easy
          to adapt to explore other aspects of the data.</p>
        <ul class="spaces">
          <li><strong><a href="http://rio2016.thegamma.net/">Visualizing Olympic medalists</a></strong> 
            is a demo that shows how such open data-driven articles could look
            like. It lets explores the history of Olympic medals.</li>
          <li><strong><a href="http://thegamma.net/files/cj2015.pdf">Computation + Journalism 2015 paper</a></strong>
            about an <a href="http://prototype.thegamma.net/carbon">earlier prototype</a> describes
            ideas and motivations of the project in more details.
            Watch a <a href="https://vimeo.com/140314257">15 minute demo</a>
            or a <a href="https://www.youtube.com/watch?v=cYoO2RvZn7Y">45 minute talk</a> from
            StrangeLoop.</li>
          <li><strong><a href="https://github.com/the-gamma">The Gamma is on GitHub</a></strong>
            and everything is available under the Apache license. You can learn about the latest news
            on Twitter at <a href="http://twitter.com/thegamma_net">@thegamma_net</a>.</li>
        </ul>            
      </div>
      <div class="col-sm-6 col-lg-5">
        <h2><a class="noblue" href="http://fsharpworks.com">Trainings at fsharpWorks</a></h2>
        <p>I'm a frequent <a href="http://fsharpworks.com/materials.html">conference speaker</a>, 
          founding member of the <a href="http://fsharp.org">F# Software Foundation</a> author 
          of C# and F# books and <a href="https://github.com/tpetricek/">author of many definitive
          F# libraries</a>. I have been Microsoft MVP since 2004 and used F# since early 
          Microsoft Research versions.</p>
        <a href="http://fsharpworks.com"><img src="/img/fsharpworks.png" style="float:right;width:150px;margin:15px 0px 10px 15px" /></a>
        <p>Have you seen the <a href="http://fsharp.org/testimonials/">F# testimo&shy;nials</a> and are you
          thinking how can your company also benefit from the safety, correctness, efficiency and
          faster time-to-market provided by F#?</p>

        <ul class="spaces">
          <li><strong><a href="http://fsharpworks.com/workshops.html">fsharpWorks trainings</a></strong> &mdash;
            At <a href="http://fsharpworks.com">fsharpWorks</a>, we love sharing our knowledge with your team
            and we offer a wide range of workshops. We created an online course about
            <a href="http://fsharpworks.com/workshops/finance.html">F# in Finance</a> and
            <a href="http://fsharpworks.com/workshops/type-providers.html">Type Providers</a>
            and we regularly run an in-person course <a href="http://fsharpworks.com/workshops/fast-track.html">Fast Track to F#</a>
            in London. We offer all of these and more as on-site trainings too &mdash;
            just <a href="mailto:info@fsharpworks.com">drop us an email</a>!

          <li><strong><a href="http://functional-programming.net/">F# books and articles</a></strong> &mdash; 
            I wrote <a href="http://functional-programming.net/rwfp/">Real World Functional Prog&shy;ramming</a>,
            which explains functional concepts using C# and F#, editted a collection of F# case studies 
            <a href="http://www.functional-programming.net/deepdives/">F# Deep Dives</a> and also wrote
            a free O'Reilly report <a href="http://fslab.org/report/">Analyzing and Visualizing Data with F#</a>.
          </li>
        </ul>
      </div>
    </div>
    <div class="row" style="padding-top:30px">
      <div class="col-sm-6 col-lg-5">
        <h2>Coeffects and research</h2>
        <img src="/img/coeffects.png" style="float:right;width:120px;margin:0px 0px 10px 10px">
        <p>                
          I recently submitted my PhD thesis at University of Cambridge and I closely collaborate
          with the F# team in Microsoft Research Cambridge.</p>
        <p> My recent publications cover a range of 
          topics from theory of context-aware programming, F# and type providers to language
          extensions for concurrent, reactive and asynchronous programming.
        </p>
        <ul class="spaces">
          <li><strong><a href="/coeffects/">Coeffects playgrouund</a></strong> is an interactive
            essay that lets you explore my PhD research in an accessible and fun way. You 
            can read more in our <a href="/academic/papers/structural/">ICFP 2014 paper</a>.
          </li>
          <li><a href="/academic/"><strong>Academic web page</strong></a> has links to other 
            published papers, work-in-progress drafts, research talks and also information 
            about student projects and courses that I supervised.
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-5">
        <h2>Philosophy of science</h2>
        <p>
          During my (computer science) PhD, I became interested in how programming language research is done
          and how it <em>should</em> be done. We tend to think that science has infallible
          methods for discovering the truth, but is that the case? Or is science 
          <em>more 'sloppy' and 'irrational' than its methodological image</em> as Paul Feyerabend says?
        </p>
        
        <ul class="spaces">
          <li><strong><a href="http://tomasp.net/blog/2015/against-types/">History and philosophy of types</a></strong> 
            is my most recent work in this area. It uses <em>types</em> as an example
            of a concept that appears simple, but is (and needs to be) more
            complex. Watch my <a href="https://vimeo.com/160733435">LambdaDays talk</a> or read the
            <a href="http://tomasp.net/academic/drafts/against-types/">full-length Onward!</a> essay.
          </li>

          <li><strong><a href="http://tomasp.net/blog/tag/philosophy/">Philosophy posts on my blog</a></strong> &mdash;
            start with <a href="http://tomasp.net/blog/2015/reading-list/">philosophy and history books</a> every
            computer scientist should read and come to some of the events organized by 
            the <a href="http://www.hapoc.org/">HaPoC Comission</a>.
          </li>
        </ul>        
      </div>
    </div>
  </div>
  
  <div class="container" style="padding-top:40px">
    <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8" itemscope itemtype="http://schema.org/Article">
      <h1><a href="/blog/" class="nocolor">What I'm doing &mdash; latest blogs &amp; publications</a></h1>
      {% for post in model.Posts limit:1 %}
        <h2 itemprop="name"><a itemprop="sameAs" href="{{ post.Url }}">{{ post.Title }}</a></h2>
        <meta itemprop="publisher author" content="Tomas Petricek" />
        <meta itemprop="headline" content="{{ post.Title }}" />
        <meta itemprop="image" content="{{ post.Image }}" />
        <p class="h1-datepub" itemprop="datePublished">{{ post.Date | dateNice }}</p>
        <div itemprop="description">
          {{ @post.Abstract }}
        </div>            
        <p>
          <a itemprop="url" href="{{ post.Url }}">Read the complete article...</a>
        </p>
      {% endfor %}
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-5">
      <h2><a href="/blog/" class="nocolor">More writing on my blog</a></h2>
      <p>Here you'll find what I'm working on &mdash; my blog posts tend to be either updates
        about projects I'm working on, trainings and talks I'm doing, or longer posts that are
        early versions of my ideas &mdash; some of them become papers, some of them have been
        cited in other papers, some will be soon forgotten.</p>

      {% for post in model.Posts limit:5 offset:1 %}
        <div itemscope itemtype="http://schema.org/Article">
          <meta itemprop="author publisher" content="Tomas Petricek" />
          <meta itemprop="headline" content="{{ post.Title }}" />
          <meta itemprop="image" content="{{ post.Image }}" />
          <h3 itemprop="name"><a itemprop="sameAs" href="{{ post.Url }}">{{ post.Title }}</a></h3>
          <p class="h3-datepub" itemprop="datePublished">{{ post.Date | dateNice }}</p>            
          <div itemprop="description">
            <p>{{ @post.Description }}</p>
          </div>
        </div>
      {% endfor %}
      <p><a href="/blog/">Read more blog posts...</a></p>
      
    </div>
    <div class="col-sm-6 col-md-6 col-lg-5">
      <h2><a href="/academic/" class="nocolor">Academic publications</a></h2>
      <p>I published papers about programming languages including type providers, theory of coeffects,
        concurrent and reactive programming, but also philosophy and history of programming.
        My <a href="/academic/">academic page</a> has a complete list, including teaching and
        other activities.</p>
      {% for post in model.Papers limit:3 %}
        <div itemscope itemtype="http://schema.org/Article">
          <h3 itemprop="name"><a itemprop="sameAs" href="{{ post.Url }}">{{ post.Title }}</a></h3>
          <meta itemprop="image" content="" />
          <meta itemprop="datePublished" content="{{ post.Date | dateNice }}" />
          <meta itemprop="headline" content="{{ post.Title }}" />
          <p class="h3-datepub" itemprop="author publisher">{{ post.Subtitle }}</p>            
          <div itemprop="description">
            <p>{{ @post.Description }}</p>
          </div>
        </div>
      {% endfor %}
      <p><a href="/academic/">Academic page with all papers...</a></p>
      
      <div class="black-box calendar-box calendar-year-item">
        <script type="text/javascript">
          var monthNames =
            ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"];
          var d = new Date();
          var m = monthNames[d.getMonth()];
          var y = d.getFullYear();
          var ml = m.toLowerCase();
          document.writeln("<h3><a href=\"/calendar/" + y + "/" + ml + "/\">Calendar &mdash; " + m + " " + y + "</a></h3>");
          document.writeln("<div class='wrapper'><a href=\"/calendar/" + y + "/" + ml + "/\">" +
            "<img src=\"https://tomaspweb.blob.core.windows.net/calendar/" + y + "/" + ml + "-preview.jpg\" style=\"border-style:none;\" />" +
            "</a></div>");
        </script>
        <p>When the time permits, I enjoy traveling. The calendar shows a new picture each month. See
          <a href="/calendar/2005/">2005</a>, <a href="/calendar/2006/">2006</a>,
          <a href="/calendar/2007/">2007</a>, <a href="/calendar/2008/">2008</a>,
          <a href="/calendar/2009/">2009</a>, <a href="/calendar/2010/">2010</a>,
          <a href="/calendar/2011/">2011</a>, <a href="/calendar/2012/">2012</a>,
          <a href="/calendar/2013/">2013</a>, <a href="/calendar/2014/">2014</a>,
          <a href="/calendar/2015/">2015</a>
          and the first photos of <a href="/calendar/2016/">2016</a>.
        </p>
      </div>      
    </div>
    </div>
  </div>
</article>
{% endblock %}
