{% extends "page.html" %}
{% block head %}
<title>Tomas Petricek - New ways of thinking about programming</title>

<meta name="description" content="I'm an assistant professor at Charles University and a partner at fsharpWorks. I work on making programming simpler and more open. To do so, I combine work on programming systems with history and philosophy of programming and computing." />
<meta name="keywords" content="data science, data visualization, F#, fsharp, philosophy of science, programming languages and tools" />
<meta name="author" content="Tomas Petricek" />
<meta name="copyright" content="Tomas Petricek" />

<meta property="og:title" content="Tomas Petricek - New ways of thinking about programming" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://tomasp.net" />
<meta property="og:image" content="http://tomasp.net/img/tomas-sq.jpg" />
<meta property="og:description" content="I'm an assistant professor at Charles University and a partner at fsharpWorks. I work on making programming simpler and more open. To do so, I combine work on programming systems with history and philosophy of programming and computing." />

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tomaspetricek">
<meta name="twitter:creator" content="@tomaspetricek">
<meta name="twitter:title" content="Tomas Petricek - New ways of thinking about programming" />
<meta name="twitter:image" content="http://tomasp.net/img/tomas-sq.jpg" />
<meta name="twitter:description" content="I'm an assistant professor at Charles University and a partner at fsharpWorks. I work on making programming simpler and more open. To do so, I combine work on programming systems with history and philosophy of programming and computing." />
{% endblock %}

{% block bodyclass %}
home
{% endblock %}

{% block body %}
<header>
  <div class="fl40">
    <div style="text-align:center;margin-right:40px">
      <img src="img/tomas.jpg" style="width:55%;margin-top:10px" />
      <p class="social">
        <a title="Follow my occasional rants" href="https://bsky.app/profile/tomasp.net"><i class="fab fa-bluesky"></i></a>
        <a title="Send me a message" href="mailto:tomas@tomasp.net"><i class="fa fa-envelope"></i></a>
        <a title="Most of my open-source projects" href="http://github.com/tpetricek"><i class="fab fa-github-alt"></i></a>
        <a title="My F# answers on StackOverflow" href="http://stackoverflow.com/users/33518/tomas-petricek"><i class="fab fa-stack-overflow"></i></a>
        <a title="Read my papers!" href="https://dblp.uni-trier.de/pid/50/8166.html"><i class="fa fa-university"></i></a>
        <a title="Send me recruiter spam?" href="https://www.linkedin.com/in/tomaspetricek"><i class="fab fa-linkedin"></i></a>
      </p>
      <p class="social links">
        <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a><br />
        <a href="https://d3s.mff.cuni.cz/~petricek">d3s.mff.cuni.cz/~petricek</a>
      </p>
    </div>
  </div>
  <div class="fr60">
    <h1>Hello, my name is <strong>Tomas Petricek</strong></h1>
    <p>I'm an assistant professor at <a href="https://d3s.mff.cuni.cz/">Charles University</a> in
      Prague and a partner at <a href="https://fsharpworks.com">fsharpWorks</a>. I believe that the most
      fundamental work is not the one solving hard problems, but the one that offers new ways
      of thinking.</p>

    <p>I follow this belief in my academic research on programming systems and history &amp; philosophy
      of computing, but also in my writing on functional programming and in my teaching and F# consulting.
    </p>

    <p>Previously, I did a PhD on context-aware computations at University of Cambridge, worked on F# tools
      in Microsoft Research, built novel tools for data exploration at The Alan Turing
      Institute, as well as studied programming systems and taught software engineering
      at the University of Kent.
    </p>

    <p>Looking for my <a href="https://d3s.mff.cuni.cz/people/tomaspetricek/">academic homepage</a>?
      Also check out <a href="https://d3s.mff.cuni.cz/plas/">our research group</a> page
      and the new <a href="https://prgprg.org/">Prague programming languages research network</a>.
      Interested in doing a PhD or post-doc with me? Please get in touch!
      </p>
  </div>
</header>
<div class="highlight">
  <div class="highlight-body">
    {% for row in model.Highlights %}
    <div class="frr">
      {% for h in row %}
      <div class="{% if forloop.first %}fl50{% else %}fr50{% endif %}"><div class="{% if forloop.first %}fmr{% else %}fml{% endif %}">
        <h2 class="first"><a href="{{ h.Link }}">{{ h.Title }}</a></h2>
        {{ h.Body }}
        <a href="{{ h.Link }}"><img src="{{ h.Image }}" /></a>
      </div></div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>
<article>
  <div class="frr" style="margin-top:30px; margin-bottom: 40px;">
    <div class="fl50"><div class="fmr hp-listing">


      <h2 class="first"><a class="hidden" href="/academic/">Academic papers to read</a></h2>
      <p style="margin-bottom:20px">
        I work on programming systems, data science and philosophy
        of computing. This list includes a couple of top papers for each category. My
        <a href="/academic/">publications page</a> gives a complete list.
      </p>
      {% for post in model.Papers %}
      {% if post.Tags contains "home" %}
      <a href="{{ post.Url }}"><i class="{{ post.Icon }}"></i></a>
      <p class="hp-listing-item">
        <strong><a href="{{ post.Url }}">{{ post.Title }}</a></strong>
        {% if post.Title contains "AI Assistants" %}{% elseif post.Title contains "Programmatic" %}{% elseif post.Title contains "Types from data" %}{% elseif post.Title contains "Vega Data" %}{% else %}<br />{% endif %}
        <span>{{ post.Subtitle | afterDot }}</span>
      </p>
      {% endif %}
      {% endfor %}

      <h2 style="margin-top:30px"><a class="hidden" href="/academic/">Drafts and work in progress</a></h2>
      <p style="margin-bottom:20px">
        Various academic texts that have not been published yet. If you have any feedback
        on these, please let me know!
      </p>

      {% for post in model.Papers %}
      {% if post.Tags contains "draft" %}
      <a href="{{ post.Url }}"><i class="{{ post.Icon }}"></i></a>
      <p class="hp-listing-item">
        <strong><a href="{{ post.Url }}">{{ post.Title }}</a></strong>{% if post.Title contains "Document-Oriented" %}{% elseif post.Title contains "Baseline" %}{% else %}<br />{% endif %}
        <span>{{ post.Date | dateShort }}</span>
      </p>
      {% endif %}
      {% endfor %}

    </div></div>
    <div class="fr50"><div class="fml hp-listing">

      <div class="calendar-box">
        <script type="text/javascript">
          var monthNames =
            ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"];
          var d = new Date();
          var m = monthNames[d.getMonth()];
          var y = d.getFullYear();
          var ml = m.toLowerCase();
          document.writeln("<h3><a href=\"/calendar/" + y + "/#" + ml + "/\">Calendar &mdash; " + m + " " + y + "</a></h3>");
          document.writeln("<div class='wrapper'><a href=\"/calendar/" + y + "/#" + ml + "\">" +
            "<img src=\"{{ model.ImageRoot }}/" + y + "/" + ml + "-preview.jpg\" style=\"border-style:none;\" />" +
            "</a></div>");
        </script>
        <p>I enjoy traveling and add one new picture each month. See
          <a href="/calendar/2005/">2005</a>, <a href="/calendar/2006/">2006</a>,
          <a href="/calendar/2007/">2007</a>, <a href="/calendar/2008/">2008</a>,
          <a href="/calendar/2009/">2009</a>, <a href="/calendar/2010/">2010</a>,
          <a href="/calendar/2011/">2011</a>, <a href="/calendar/2012/">2012</a>,
          <a href="/calendar/2013/">2013</a>, <a href="/calendar/2014/">2014</a>,
          <a href="/calendar/2015/">2015</a>, <a href="/calendar/2016/">2016</a>,
          <a href="/calendar/2017/">2017</a>, <a href="/calendar/2018/">2018</a>,
          <a href="/calendar/2019/">2019</a>, <a href="/calendar/2020/">2020</a>,
          <a href="/calendar/2021/">2021</a>, <a href="/calendar/2022/">2022</a>,
          <a href="/calendar/2023/">2023</a>, <a href="/calendar/2024/">2024</a>,
          <a href="/calendar/2025/">2025</a> and the first of <a href="/calendar/2026/">2026</a>.
        </p>
      </div>

      <h2 class="first"><a class="hidden" href="/blog/">Recent blog posts</a></h2>
      <p style="margin-bottom:20px">Mostly longer articles that may eventually
        become something bigger covering <a href="/blog/tag/research">my research</a>,
        <a href="/blog/tag/fsharp">F#</a>, <a href="/blog/tag/philosophy">history and philosophy</a>
        and more. See <a href="/blog/">the blog archive</a> for a complete list.</p>

      {% for post in model.Posts limit:15 %}
      <a href="{{ post.Url }}"><i class="{{ post.Icon }}"></i></a>
      <p class="hp-listing-item">
        <strong><a href="{{ post.Url }}">{{ post.Title }}</a></strong><br />
        <span>{{ post.Date | dateShort }}</span>
      </p>
      {% endfor %}

    </div></div>
  </div>
</article>
{% endblock %}
