{% extends "page.html" %}
{% block head %}
  <title>{% if model.PostsTitle == "" %}{% else %}{{ model.PostsTitle}} - {% endif %}Latest writings from my blog - Tomas Petricek</title>
  <meta name="description" content="Tomas Petricek's latest blog posts about programming languages and tools, working with data, philosophy of science and more." />
  <meta name="author" content="Tomas Petricek" />
  <meta name="copyright" content="Tomas Petricek" />
{% endblock %}

{% block body %}
<span class="tplink"><a href="/">TP</a></span>

<article>    
  {% for post in model.Posts %}
    <h1><a href="{{ post.Url }}">{{ post.Title }}</a></h1>
    {{ @post.Abstract }}
    <div class="info">
      <p class="details">
        <strong>Published</strong>: <span>{{ post.Date | dateNice }}</span>
        {% if post.Tags != "" %}
          <br />      
          <strong>Tags</strong>: 
            {% assign next=false %}{% for tag in post.Tags %}{% if next %}, {% endif %}<a
              href="/blog/tag/{{ tag | tagUrl }}/">{{ tag }}</a>{% assign next=true %}{% endfor tag %}
        {% endif %}
        <br />
        <a href="{{ post.Url }}">Read the complete article</a><br /><br />
      </p>
    </div>    
  {% endfor %}
  
  <h1>All blog posts by tag</h1>
  {% assign next=false %}
  {% for tag in model.Archives.Tags %}{% if next %}, {% endif %}<a 
    href="/blog/tag/{{ tag.Url | tagUrl }}/">{{ tag.Name }} ({{ tag.Count }})</a>{% assign next=true %}{% endfor tag %}
</article>
{% endblock %}
