{% extends "page.html" %}
{% block head %}
  <title>{{ model.Article.Title }} - Tomas Petricek</title>

  <meta name="description" content="{{ model.Article.Description | trimHtml }}" />
  <meta name="keywords" content="{% for t in model.Article.Tags %}{{ t }}, {% endfor %}" />  
  <meta name="author" content="Tomas Petricek" />
  <meta name="copyright" content="Tomas Petricek" />
  
  <meta property="og:title" content="{{ model.Article.Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ model.Article.Url }}" />
  <meta property="og:image" content="{{ model.Article.Image }}" />
  <meta property="og:description" content="{{ model.Article.Description | trimHtml }}" />
  {% if model.Article.LargeImage == "true" %}
  <meta name="twitter:card" content="summary_large_image">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:site" content="@tomaspetricek">
  <meta name="twitter:creator" content="@tomaspetricek">  
  <meta name="twitter:title" content="{{ model.Article.Title }}" />
  <meta name="twitter:image" content="{{ model.Article.Image }}" />
  <meta name="twitter:description" content="{{ model.Article.Description | trimHtml }}" />
    
  <script type="application/ld+json">
  {
  	"@context": "http:\/\/schema.org",
  	"@type": "Article",
  	"name": "{{ model.Article.Title }}",
    "headline": "{{ model.Article.Title }}",
  	"description": "{{ model.Article.Description | trimHtml }}",
  	"url": "{{ model.Article.Url }}",
  	"author": {
  		"@type": "Person",
  		"name": "Tomas Petricek",
  		"url": "http://tomasp.net",
  		"sameAs": ["http://twitter.com/tomaspetricek"]
  	},
  	"creator": ["Tomas Petricek"],
  	"dateCreated": "{{ model.Article.Date | dateAsIso }}",
  	"datePublished": "{{ model.Article.Date | dateAsIso }}",
    "dateModified": "{{ model.Article.Date | dateAsIso }}",
    "mainEntityOfPage": "{{ model.Article.Url }}",
  	"image": "{{ model.Article.Image }}",
  	"thumbnailUrl": "{{ model.Article.Image }}",
  	"keywords": [{% for t in model.Article.Tags %}"{{ t }}", {% endfor %} "tomas", "petricek"],
  	"inLanguage": "en-us",
  	"publisher": {
  		"@type": "Person",
  		"name": "Tomas Petricek",
  		"url": "http://tomasp.net",
      "logo": "http://tomasp.net/img/favicon-big.png",
  		"sameAs": ["http://twitter.com/tomaspetricek"]
  	}
  }  
  </script>
{% endblock %}

{% block body %}
  <article>
    <div class="container"><div class="row">
      <div class="col-lg-2 col-md-1"></div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
        {{ model.Article.Body }}

        <div class="info">
        <p class="share">
            <a target="_blank" href="https://twitter.com/intent/tweet?url={{ model.Article.Url | urlEncode }}&amp;text={{ model.Article.Title | urlEncode }}{{ "via @tomaspetricek" | urlEncode }}">
              <i class="fa fa-twitter-square"></i></a>
            <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ model.Article.Url | urlEncode }}">
              <i class="fa fa-facebook-official"></i></a>
            <a href="http://www.reddit.com/submit?url={{ model.Article.Url | urlEncode }}&title={{ model.Article.Title | urlEncode }}">
              <i class="fa fa-reddit-square"></i></a>
            <a href="mailto:?subject={{ model.Article.Title | mailEncode }}&body={{ model.Article.Description | mailEncode }}%0a%0a{{ "See: " | mailEncode }}{{ model.Article.Url | mailEncode }}">
              <i class="fa fa-envelope"></i></a>
        </p>
        <p class="details">
          <strong>Published:</strong> {{ model.Article.Date | dateNice }}<br />
          <strong>Author:</strong> Tomas Petricek<br />
          <strong>Typos:</strong> <a href="http://github.com/tpetricek/tomasp.net">Send me pull request</a>!<br />
          <strong>Tags:</strong> {% assign next=false %}{% for tag in model.Article.Tags %}{% if next %}, {% endif %}<a
          href="/blog/tag/{{ tag | tagUrl }}/">{{ tag }}</a>{% assign next=true %}{% endfor tag %}</span><br />
        </p>
        </div>
      </div>
    </div></div>
  </article>
{% endblock %}
