/* Basic structure and standard elements */
body { background-color: #F1DEC2; background-image: url('img/infinite.png'); background-repeat: repeat-y; background-position: left top; background-size: 14vw auto; font-family: "Futura Std", sans-serif; margin: 0; padding: 0; }
#main { padding:20px 20px 200px 20px; margin-left: 16vw; max-width: 800px; }

@media (min-width: 1000px) {
  body { background-size: 18vw auto; }
  #main { margin-left: 22vw; }
}

h1 { font-weight:500; font-size:44pt; line-height:1em; margin:40px 0px 40px 0px; color:#153374; }
h2 { font-weight:500; font-size:28pt; line-height:1.3em; margin:60px 0px 20px 0px; color:#153374; }
h4 { font-weight:300; font-size:20pt; line-height:1.3em; margin:20px 0px 10px 0px; color:#153374; }
h2 a, h2 a:visited, h2 a:hover { color:#153374; text-decoration:none; }

p.lead { font-size:18pt; font-weight:400; color:#153374; }
p.large { font-size:18pt; font-weight:300; color:#153374; }
p, li { font-size:15pt; font-weight:300; line-height:1.4em; color:#153374; margin-top:0px; font-family: "Futura Std", times, sans-serif; }
li { margin-bottom:8px; }
a, a:visited { color:#2668B0; text-decoration:underline; }

.sub { margin-bottom:0px; }
h2.h1sub { font-weight:500; font-size:20pt; line-height:1.3em; margin:15px 0px 20px 0px; color:#2668B0; }
#exhibition h2.h1sub { font-weight:500; font-size:26pt; line-height:1.3em; margin:15px 0px 20px 0px; color:#2668B0; }
h3.h2sub { font-weight:500; font-size:20pt; line-height:1.3em; margin:5px 0px 20px 0px; color:#2668B0; }

/* Homepage elements */
.info li { list-style-type:none; margin:0px; padding:0px; font-weight:300; }
.info { margin:20px 0px; padding:0px; }

img.cover { width:20vw; min-width:200px; display:block; margin:10px auto; max-width:300px; border:5px solid black; }
img.exhib { width:90%; margin:30px 0px 0px 5%; display:block; border:5px solid black; }
p.credits { width:90%; border:5px solid transparent; margin:0px 0px 0px 5%; text-align:right; font-size:12pt; font-weight:400; }

@media (min-width: 600px) { img.cover { float:right;  margin:20px 0px 20px 30px; } }
@media (min-width: 1000px) { img.coverex { margin-top:0px; }
@media (min-width: 1200px) { img.cover { margin-right:-100px;} }

/* Make things smaller for smaller screens */
@media (max-width: 600px) {
  h1 { font-size:40pt; }
  h2 { font-size:26pt; }
  p.lead { font-size:16pt; }
  p, li { font-size:14pt; }
}

/* Special exhibition elements */
.panels {
  margin:40px 0px 40px 0px;
}
.panels img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom:20px;
}
@media (min-width: 500px) {
  .panels3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .panels2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (min-width: 1200px) {
  .panels { margin-right:-100px;}
}
@media (min-width: 1350px) {
  .panels { margin-right:-200px;}
}
@media (min-width: 1450px) {
  .panels { margin-right:-300px;}
}


/*
#2668B0

.column {
  padding:30px;
  max-width: 1000px;
  background-image:url('img/bg1.png');
  background-size: 100% auto;
  background-repeat: repeat-y;
  min-height: 100vh;
  margin: 0  auto;
}

.row { 
  clear:both;
}
.row img { 
  float:right;
  max-width:40%;
  margin-top:30px;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura Std Medium", sans-serif;
  color: #F1DEC2;
}
.info p { 
  color: #F1DEC2; 
  margin:0px 0px 10px 0px; 
  font-size:12pt;
  line-height:1.4em;
}
.info p.summary { 
  margin:0px 0px 40px 0px; 
  font-size:16pt;
  line-height:1.3em;
}
.info li { 
  font-family: "Futura Std Medium", sans-serif;
  color: #F1DEC2; 
  margin:0px 0px 2px 0px; 
  padding:0px;
  font-size:12pt;
  line-height:1.3em;
}
.info ul {
  margin:0px 0px 15px 0px;
  padding:0px 0px 0px 18px;
}
.info a {
  color: #F1DEC2; 
  text-decoration:underline;
}
h1 { text-align:center; font-size:40pt; color:#173371; margin:0px; }
h2 { text-align:center; font-size:28pt; color:#173371;  margin:10px 0px 0px 0px;}
h3 { font-size:28pt; margin:0px 0px 20px 0px; }
h4 { font-size:16pt; margin:0px 0px 5px 0px; }

.info {
  background:rgba(23,51,113,0.7);
  border-radius:20px;
  padding:30px;
  margin-right:42%;
}

header {
  clear:both;
  margin:50px 0px;
  background:rgba(44,104,172,0.7);
  border-radius:20px;
  padding:30px;
}
header.first {
  margin-top:0px;
}
header p {
  font-family: "Futura Std Medium", sans-serif;
  color: #173371; 
  margin:20px 30px 20px 30px; 
  font-size:16pt;
  line-height:1.3em;
}


@media (min-width: 768px) {
  .column { background-image:url('img/bg2.png'); }
}
@media (max-width: 992px) {
  h1 { font-size:30pt; }
  h2, h3 { font-size:24pt; }
  .info p.summary { font-size:14pt; }
}
@media (max-width: 600px) {
  a.panel { display:inline-block; margin:0 auto; text-align:center; }
  .row img { float:none; margin:0px; }
  .info { margin:0px; }
}*/