/* ----------------------------------------------------------------------------------- */
/* Layout and site-wide things
/* ----------------------------------------------------------------------------------- */

* { padding:0px; margin:0px; }
body { border-top:20px solid #004C6B; line-height:1.5 !important; font:13pt 'PT Sans','Trebuchet MS', Geneva, Tahoma, sans-serif; }
article, header { max-width:750px; margin:0px auto 0px auto; padding:60px 10px 40px 20px; }
.academic article, .home article, .home header { max-width:1000px; }
.first { margin-top:0px; }

/* ------------------------------------------------------------------------- */
/*TP link at the top right
/* ------------------------------------------------------------------------- */

.tplink { background:#004C6B; padding:4px 18px 8px 18px; }
.tplink { position:absolute; right:20px; top:20px; font:600 17pt Kreon, serif;}
.tplink a { color:white; }
.tplink a:hover, .tplink a:active { color:white; }

/* ------------------------------------------------------------------------- */
/* Grid layout
/* ------------------------------------------------------------------------- */

@media only screen and (min-width : 750px) {
  .fmr { margin-right:20px; }
  .fml { margin-left:20px; }
  .fl40 { width:40%; float:left; }
  .fr60 { margin-left:40%; }
  .fl70 { width:70%; float:left; }
  .fr30 { margin-left:70%; }
  .fl50 { width:50%; float:left; }
  .fr50 { margin-left:50%; }
  .frr { clear:both; }
}

/* ----------------------------------------------------------------------------------- */
/* Content - formatting of standard articles
/* ----------------------------------------------------------------------------------- */

article.article { line-height:1.6 !important;}

a { text-decoration:none; color:#007BA8; }
a:focus, a:active, a:hover { color:#00A2DD; text-decoration:none; }
a.hidden { color:inherit; }

h1 { color:#004C6B; margin-top:20px;  margin-bottom:50px; font:300 30pt Kreon, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
@media only screen and (max-width : 750px) { h1 { font-size:28pt; } }
h2 { margin-bottom:10px; margin-top:30px; font:400 21pt Kreon, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
h3 { margin:25px 0px 6px 0px; font:400 15pt Kreon,'Times New Roman', Times, serif; }
h4 { margin-top:25px; font:700 13pt Kreon,'Times New Roman', Times, serif; }
p { margin-bottom:10px; }
ul, ol { margin:10px 0px 10px 0px; padding:0px; }
li { margin-bottom:5px; margin-left:34px; }
.spaces li { margin-bottom:10px; }
blockquote { margin:20px 0px 20px 20px; color:#808080; }
blockquote p { color:#808080; }

h1 span.hm, article h1 span.hmq { display:inline; font-weight:400; }
h1 .hm:after { content: ":"; }
h1 .hmq:after { content: "?"; }
h2 .hs { font-weight:300; }

article .noblue, article .noblue:hover, article .noblue:active,
  a:not([href]), a:not([href]):hover, a:not([href]):active,
  article a.nocolor:link, article a.nocolor:hover, article a.nocolor:active, article a.nocolor:visited {
    color:inherit;
}

article div.info p.share { margin-top:40px; }
article div.info p.share a { font-size:16pt; margin-right:6px; }
article div.info { padding:0px 0px 0px 0px; text-align:right; font-style:italic; }

article.publication blockquote { margin:0px 0px 20px 0px; }
article.publication blockquote p { padding:0px; margin:0px; font:300 15pt Kreon,'Times New Roman', Times, serif; color:#333; }

/* ----------------------------------------------------------------------------------- */
/* Content - image decorations
/* ----------------------------------------------------------------------------------- */

.wdecor { margin:15px; text-align:center; }
.wdecor.left { text-align:left; }

@media only screen and (max-width : 750px) {
  .rdecor { text-align:center; margin:10px 10px 10px 10px; }
  .rdecor img { max-width:90%; max-height:400px; }
  .rdecor-sm { text-align:center; margin:10px 10px 10px 10px; }
  .rdecor img { max-width:90%; max-height:400px; }
}
@media only screen and (min-width : 750px) {
  .rdecor { float:right; margin:10px 10px 30px 30px; }
  .ldecor { float:left; margin:10px; }
  .rdecor-sm { float:right; margin:30px; }
}
@media only screen and (min-width : 940px) {
  article .wdecor { margin:20px -100px 20px -100px; }
  article .ldecor { margin-left:-100px; }
  article .rdecor { margin-right:-100px; }
  article .rdecor-sm { margin-right:-50px; }
}
@media only screen and (min-width : 1200px) {
  article .wdecor { margin:30px -200px 30px -200px; }
  article .ldecor { margin-left:-200px; }
  article .rdecor { margin-right:-200px; }
  article .rdecor-sm { margin-right:-100px; }
}


/* ------------------------------------------------------------------------- */
/* Footer
/* ------------------------------------------------------------------------- */

footer { line-height:1.35; clear:both; background:#f0f0f0; padding:0px 20px 0px 20px; margin-top:60px; }
footer li { margin-left:0px; list-style-type: none; }
footer a { color:#a4a4a4; }
footer a:hover, footer a:active { color:#404040; }
footer h4 { color:#808080; margin-bottom:10px; font:500 14pt Kreon, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
footer p, footer li { color:#707070; font-size:11pt; }
.footer-body { max-width:1000px; margin:0px auto 0px auto; padding:40px 0px 20px 0px; }

/* ------------------------------------------------------------------------- */
/* Homepage highlight links to interactive essays etc.
/* ------------------------------------------------------------------------- */

.highlight img { max-width:80%; margin:20px 0 20px 20px; }
.highlight .frr { margin-bottom:30px; }
.highlight article { padding-bottom:30px; }
.highlight { background:#f0f0f0; padding:0px 20px 0px 20px; }
.highlight-body { max-width:1000px; margin:0px auto 0px auto; padding:40px 0px 20px 0px; }
@media only screen and (min-width : 420px) and (max-width : 750px) {
  .highlight img { max-width:350px; }
}

/* ------------------------------------------------------------------------- */
/* Homepage and paper listing
/* ------------------------------------------------------------------------- */

.hp-listing i { float:left; font-size:120%; margin-top:8px; }
.hp-listing-item { margin-left:38px; }
.datepub { margin: 8px 0px 16px 0px; font:300 14pt Kreon, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

/* ------------------------------------------------------------------------- */
/* Homepage header
/* ------------------------------------------------------------------------- */

header h1 { color:#004C6B; margin-bottom:20px; font:300 30pt Kreon, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
header h1 strong { font-weight:400; }
header p { margin-bottom:20px; }
header .links { font-size:11pt; }
header .social {  margin-top:20px; }
header .social a { margin:3px; color:#004C6B; }
header .social a:hover { color:#007BA8; }
@media only screen and (min-width : 420px) and (max-width : 750px) {
  header .fl40 { max-width:300px; margin:10px auto 60px auto;  }
}

/* ------------------------------------------------------------------------- */
/* Homepage calendar & dedicated calendar pages
/* ------------------------------------------------------------------------- */

.calendar-box { text-align:center; background:#00202D; color:#808F96; padding:20px 10px 20px 10px; margin:30px 0px 30px 0px; }
.calendar-box h3 { margin-top:10px; }
.calendar-box img { margin:20px 0px 20px 0px; }
.calendar-box p { font-size:11pt; }
.calendar-box a { color:#C6CDD0;}
.calendar-box a:hover, .calendar-box a:active { color:white; }

.calendar h1 { text-align:center; }
.calendar article { padding-right:20px; }
.calendar .month h2 { margin:0px 0px 20px 0px; }
.calendar .month img { max-width:90%; }
.calendar .month { text-align:center; background:#00202D; color:#adbac0; margin-bottom:20px; padding:20px; }
@media only screen and (min-width: 700px) { .calendar .month { padding:30px 20px 40px 20px; margin-bottom:40px; } }

