/* Text and standard document formatting */
body { font-family:'PT Sans', sans-serif; }
header { padding:40px 0px 30px 0px; background:black; color:white; }
header a { color:#7398C6; }
header a:hover { color:#8ab6ee; }
article { padding:30px 0px 30px 0px; }
h1 { font:300 30pt 'Kreon'; line-height:1.1em; }
h2 { font:300 24pt 'Kreon'; line-height:1em; margin:25px 0px 5px 0px; }
h3 { font:300 18pt 'Kreon'; line-height:1em; margin:10px 0px 5px 0px; }
h1 em, h2 em, h3 em { font-style:normal; margin-right:0.25em }
p, li { font-size: 13pt; }
.references ol { margin:0px; padding:0px; list-style:none; }
.references ol li { font-size: 12pt; padding:0px; margin:8px 0px 0px 20px; text-indent:-20px; }
p.author { font-size: 14pt; line-height:1.3em; margin:30px 0px 35px 0px;  }
code { font:400 11pt 'roboto mono', monaco, consolas, monospace; color:#a67413; }
blockquote { border-left:solid 4px #e0e0e0; padding-left:15px; color:#a0a0a0 }
blockquote p { font-size:12pt; }
.mathjax { margin:15px 0px 15px 20px; }

header .toc li { font-size:11pt; }
header .toc ol { margin-left:20px; }
header .toc ul { margin-left:5px; list-style:none; }
header .toc ol ul, header .toc ol ul li { list-style:none; margin:0px; padding:0px; }
header .toc p { margin:0px 0px 5px 45px; font-size:12pt }

/* Formatting for demo blocks, both interactive and screencasts */
.demo .tools { float:right; margin-top:30px; }
.demo .tools i { margin-left:10px; font-size:16pt }
.demo .tools a { color:#505050; outline:none; }
.demo .tools a:hover { color:#656565; }
.demo .tools a .disabled { color:#141414; cursor:auto; }
.demo .tools .fa-paperclip { margin-right:20px; }

.demo { background:black; color:#a0a0a0; margin:30px 0px 30px 0px; overflow:hidden; }
.demo-body { position:relative; top:0px; width:100vw; }
.demo strong { color:#c0c0c0; }
.demo .demo-top { padding-top:20px; }
.demo span.num { background:#f0f0f0; border-radius:10px; float:left; margin-left:-35px;
  width:20px; height:20px; display:inline-block; margin-right:5px; position:relative; top:6px; }
.demo span.num span { color:black; position:relative; top:-2px; left:5px; font:bold 12pt 'PT Sans'; }
.demo .large-caption { padding-left:50px; }
.demo .large-caption p { font-size:14pt; line-height:1.3em; margin-bottom:10px; max-width:580px; }

.demo .frame { max-height:60vh;max-width:100%;margin:40px auto 40px auto;position:relative; }
.demo .frame-out { opacity:0; }
.demo .frame-in { opacity:1; }
#screen1 .frame-out { transition:opacity 0.25s linear; }

@media (min-width: 576px) { .bigger-container { max-width:540px; }  }
@media (min-width: 768px) { .bigger-container { max-width:720px; }  }
@media (min-width: 992px) { .bigger-container { max-width:960px; }  }
@media (min-width: 1200px) { .bigger-container { max-width:95%; }  }
@media (min-width: 1300px) { .bigger-container { max-width:90%; }  }

.demo .interactive { margin:20px 0px 20px 0px; height:55vh; }
.demo .interactive table.split { height:55vh; }
#scrolly2 .interactive { margin:20px 0px 20px 0px; height:65vh; }
#scrolly2 .interactive table.split { height:65vh; }
.demo .preview .big-text { font-size:20pt; text-align:center; color:#303030; margin-top:40%; }
svg { margin-top:10px; }

/* Tables */
.table-container { max-height:55vh; overflow:auto; scrollbar-width: thin; scrollbar-color: #b0b0b0 #707070; }
.table-container::-webkit-scrollbar { width: 8px; height: 8px; }
.table-container::-webkit-scrollbar-track-piece { background-color: #707070; }
.table-container::-webkit-scrollbar-thumb { background-color: #b0b0b0; }

td { vertical-align:top; }
table.data { min-width:100%; }
table.data thead { position: sticky; top: 0; z-index: 2; font-weight:700; background:#353535; }
table.data { border-spacing:0px; color:#a0a0a0; }
table.data td, table.data th { padding:1px 6px 1px 6px; font-size:0.8em; }
table.data tbody tr { background:#282828; }
table.data tbody tr:nth-child(2n) { background:#353535; }
table.data th { white-space:nowrap; }

table.data span.index { cursor:pointer; }
table.data i.fa-filter { margin:3px 0px 0px 0px; }
table.data i.fa-sort-down { position:relative; top:0px; left:0px; cursor:pointer; }
table.data i.fa-sort-up { position:relative; top:0px; left:7.5px; height:5px; top:-5px;
  z-index:1000; overflow:hidden; cursor:pointer; }
table.data select { min-width:50px; padding:0px; font:inherit; border: 1px solid #606060; width:100%;
  -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #282828; color:inherit;
  background-image: linear-gradient(45deg, transparent 50%, #606060 50%), linear-gradient(135deg, #606060 50%, transparent 50%);
  background-position: calc(100% - 7px) calc(8px), calc(100% - 2px) calc(8px);
  background-size: 5px 5px, 5px 5px; background-repeat: no-repeat; }

/* Animations */
.animated .anim-prev { opacity:0; pointer-events:none; }
.animated .anim-current { opacity:1; pointer-events:auto; }
.animated .anim { transition:opacity 0.5s ease; }
.animated { display: flex; flex-flow: row nowrap; }
.animated .anim-first, .animated .anim-second { box-sizing: border-box; width: 100%; flex: none; }
.animated .anim-second { margin-left: -100%; }

/* Histogram environment and preview formatting */
table.split { width:100%; table-layout:fixed; }
table.split td.preview { width:40%; }
table.split td.code, table.split td.sheet { width:60%; color:white; padding-right:20px }

div.preview { margin-top:20px; }
div.preview .section { background:rgba(192,192,192,0.15); color:#d0d0d0; padding:5px 10px 10px 10px;
  font-size: 11pt; margin-bottom:20px; }
div.preview .section .header { display:inline-block; }
div.preview .section .header strong { margin-right:3px; }
div.preview .section { margin-top:5px; }
div.preview .section .body { padding:5px; background:rgba(192,192,192,0.15); }
div.preview .section-selected .body .animated .anim-prev { max-height:22px; }
div.preview .section-selected .body .animated .anim-current { max-height:60vh; transition:max-height 0.3s ease; }
div.preview .section-selected .body .animated .anim { min-height:22px; overflow:hidden; }
div.preview button.evaluate { float:right; margin-left:10px; border-radius:2px; border-width: 0px; padding:1px 10px 1px 10px;
  color:white; background: #7C6070; }

/* Source code view formatting */
div.code span.expr { padding:2px 5px 2px 5px; display:inline-block; margin:2px 2px 2px 2px; cursor:pointer; }
div.code span.expr::selection { color:inherit; }
div.code { margin:20px 0px 30px 0px; font: 300 10pt 'Roboto Mono',monospace; }
div.code strong { font-weight:700; }
div.code div.completions { position: absolute; max-height: 400px; overflow-y: auto; overflow-x:hidden;
  background: #472E3B; min-width: 160px; padding:2px; z-index:1000 }
div.code div.completions a, div.code div.completions span { display:block; color:#A899A1; width:100%;
  margin:2px 5px 2px 5px; text-align:left; font:11pt 'PT Sans'; text-decoration:none; }
div.code div.completions hr { border-style:none; border-top:solid 1px #5B3B4C; margin:2px 0px 2px 0px; }
div.code div.completions a:hover, div.code div.completions a.selected { font-weight: bold; color:white; }

div.code div.completions { scrollbar-width: thin; scrollbar-color: #7C6070 #35222C; }
div.code div.completions::-webkit-scrollbar { width: 8px; height: 8px; }
div.code div.completions::-webkit-scrollbar-track-piece { background-color: #35222C; }
div.code div.completions::-webkit-scrollbar-thumb { background-color: #7C6070; }

div.code button.plus { border-radius: 4px; border-width: 0px; padding:1px 4px 1px 4px;
  color:white; background: #7C6070; }
div.code input { min-width:150px; font:300 10pt 'Roboto Mono',monospace; border-style:none;
  background:#7C6070; padding:0px; margin:2px 5px 2px 5px; color:white; }
div.code .expr { background:rgba(192,192,192,0.2); transition: background-color 25ms ease-out; }

div.code span.selected { background:#472E3B; }
div.code span.highlighted { background: #6B4559; }

div.code span.let { margin-top:10px; display: block; }
div.code .indent { padding-left:20px; }
div.code .indent span { margin-left:0px }
div.code .indent > :first-child { margin-left:-20px; }

/* spread-sheet view formatting */
table.sheet { table-layout:fixed;
  border-collapse: collapse;
}
table.sheet td { border: 2px solid #343434; }
table.sheet thead { position: sticky; top: 0; z-index: 2; font-weight:700; background:#1d1d1d; }
table.sheet th:first-child { text-align:right; background:#1d1d1d; position:sticky; left:0; z-index:2; font-weight:700; padding:0px 10px 0px 0px; }
table.sheet td { background:rgba(192,192,192,0.2); width:90px; min-width:90px; height:25px; overflow:hidden; }
table.sheet th { font-size: 11pt; color:#d0d0d0; width:35px; min-width:35px; text-align:center; vertical-align:middle; }
table.sheet { border-spacing:0px; color:#a0a0a0; }
table.sheet .expr { margin:-2px; background:rgba(192,192,192,0.2); transition: background-color 100ms ease-out; cursor:pointer; padding:4px;
  height:25px;
  font: 300 10pt 'PT Sans',monospace;
  width:90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.section-create span.source, table.sheet .expr { font-weight:400; color:#c0c0c0; }
.section-create span.source strong { color:white; font-weight:700; }
table.sheet .expr strong { color:white; font-weight:700; }
.section-create span.source em, .section-create div.completions em, table.sheet .expr em { font-weight:300; color:#808080 !important; font-style:normal; }

table.sheet .tool { height:20px; }
table.sheet button.plus { border-radius:2px; border-width: 0px; padding:1px 10px 1px 10px;
  color:white; background: #7C6070; width:100%; font-size:10pt; display:block; }

table.sheet .selected { background:#472E3B; }
table.sheet .highlighted { background: #6B4559; }

.sheet-wrapper {  margin-top:20px; overflow:auto; scrollbar-width: thin; scrollbar-color: #707070 #1d1d1d; max-height:50vh }
.sheet-wrapper::-webkit-scrollbar { width: 8px; height: 8px; }
.sheet-wrapper::-webkit-scrollbar-track-piece { background-color: #1d1d1d; }
.sheet-wrapper::-webkit-scrollbar-thumb { background-color: #707070; }

.section-create div.completions { max-height: 200px; overflow-y: auto; overflow-x:hidden; padding:0px 10px 5px 0px; }
.section-create div.completions a, .section-create div.completions span { display:block; color:#a0a0a0; width:100%;
  margin:2px 5px 2px 5px; text-align:left; font:11pt 'PT Sans'; text-decoration:none; }
.section-create span.item { margin:2px 5px 2px 5px; }
.section-create span.source span:first-child { margin-right:5px; }

.section-create div.completions { scrollbar-width: thin; scrollbar-color: #b0b0b0 #707070; }
.section-create div.completions::-webkit-scrollbar { width: 8px; height: 8px; }
.section-create div.completions::-webkit-scrollbar-track-piece { background-color: #707070; }
.section-create div.completions::-webkit-scrollbar-thumb { background-color: #b0b0b0; }

.section-create hr { border-style:none; border-top:solid 1px #505050; margin:4px 2px 2px 2px; }
.section-create div.completions a:hover, .section-create div.completions a.selected,
.section-create div.completions a:hover strong, .section-create div.completions a.selected strong,
.section-create div.completions a:hover em, .section-create div.completions a.selected em { font-weight: bold; color:white !important; }
.section-create div.completions input { display:block; min-width:100%; font:300 10pt 'Roboto Mono',monospace; border-style:none;
  background:#707070; padding:2px 5px 2px 5px; margin:2px 5px 2px 5px; color:white; }

/* Code output */
textarea.debug { font:8pt 'roboto mono'; color:white !important; background:black; width:100%; height:100%; border:none; }
