@import url(http://fonts.googleapis.com/css?family=Kreon:300,400,700|PT+Sans:400,700,400italic);

/* ----------------------------------------------------------------------------------- */
/* Header (on the homepage) and navigation bar (everywhere)                            */
/* (This got a bit out of hand as I was adding more effects, oh well...)               */
/* ----------------------------------------------------------------------------------- */

#tomas {
  overflow:hidden;
  max-height:0px;
  -webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	transition: max-height 0.5s;
}
.home #tomas {
  max-height:none;
}
header {
  background:#00202D;
  color:#808F96;
  padding:30px 0px 40px 0px;
  font: 12pt 'PT Sans','Trebuchet MS', sans-serif
}
header h2, header h3, header a {
  color:#C6CDD0;
}
header a:hover, header a:active {
  color:white;
}
header h2 {
  font:300 30pt Kreon,'Times New Roman', Times, serif;  
  margin:0px 0px 0px 0px;
}
header h3 {
  font:300 16pt Kreon,'Times New Roman', Times, serif;  
  margin:0px 0px 20px 0px;
}
header h4 {
  font:400 15pt Kreon,'Times New Roman', Times, serif;  
  margin:15px 0px 5px 0px;
}
header i { 
  margin-right:10px;
}
header .social {
  text-align:center;
  font-size:12pt;
  margin:10px 0px 0px 0px;
}
header .social i {
  margin:0px 5px 0px 5px;
}
nav.affix {
  top: 0;
  width: 100%;
  z-index:1000;
}
nav.affix-top {
  top: 0;
  width: 100%;
  z-index:1000;
}
.top-panel.fixed {
  position:fixed;
  top: 0;
  width: 100%;
  z-index:1000;  
}
.calendar .top-panel.fixed {
  position:static;
}

.nav-wrapper {
  min-height:50px;
}
.top-panel-wrapper {
  min-height:50px;
}
.top-panel .fa-caret-up, .top-panel .fa-caret-down {
  position:relative;
  top:-3px;
  left:8px;
  font-size:10pt;
}
nav a, nav a:hover, nav a:active {
  font-family:Kreon,'Times New Roman', Times, serif;
  font-weight:300 !important;
  font-size:14pt !important;
  background:#00202D !important;
  color:white !important;
  margin:0px;
  padding:12px 20px 8px 20px !important;
  height:auto !important;
}
nav .navbar-right a {
  margin-left:10px;
}
nav .navbar-left a {
  margin-right:10px;
}
nav .navbar-left a.last-left {
  margin-right:0px;
}
.toggle-tomas, .toggle-tomas:hover, .toggle-tomas:active {
  padding:12px 28px 8px 20px !important;
}
nav {
  background:white !important;
  border-top:4px solid #00202D;
  border-bottom:6px solid white;
  z-index:1000;
}
nav button {
  margin:0px !important;
}
#navbar {
  padding:0px !important;
  border-shadow:none !important;
  border-top-width:0px !important;
}
@media only screen and (max-width: 768px) {
  nav .navbar-left a.last-left {
    margin-right:10px;
  }
  #navbar { 
    position:relative;
    margin-right:40px
  }
  .calendar .top-panel {
    position:fixed;
    top: 0;
    width: 100%;
    z-index:1000;  
  }
}
nav ul {
  margin:0px !important;
}
nav button .icon-bar {
  background:#00202D;
}
@media only screen and (max-width: 992px) {
  nav a, nav a:hover, nav a:active {
    padding:12px 10px 8px 10px !important;
  }
}
img.tomas-square {
  width:80%;
  margin:20px 10% 0px 10%;
}
img.tomas-float {
  float:right;
  margin:0px 0px 10px 5%; 
  width:45%;
  max-width:150px;
}
@media only screen and (min-width: 980px) {
  img.tomas-wide { width:100%; margin:70px auto 10px auto; }
}
@media only screen and (min-width: 1200px) {
  img.tomas-wide { width:100%; margin:40px auto 0px auto; }
}
header .themes div { 
  padding:0px 15px 0px 0px; 
}
@media only screen and (max-width: 768px) {
  header .themes div { padding:0px; }
  .home .hidden-xs-home { display:none !important; }
}
header img {
  max-width:400px
}
.visible-home {
  display:none;
}
.home .visible-home {
  display:block;
}
.home .hidden-home {
  display:none;
}

/* ----------------------------------------------------------------------------------- */
/* Footer                                                                              */
/* ----------------------------------------------------------------------------------- */

.not-footer {
  background:white;
  padding-bottom:100px;
  width:100%;
}
body {
  background:#00202D !important;
}
footer {
  color:#808F96;
  padding:30px 0px 40px 0px;
  font: 10pt 'PT Sans','Trebuchet MS', sans-serif;
}
footer a {
  color:#C6CDD0;
}
footer a:hover, footer a:active {
  color:white;
}
footer h4 {
  font:700 14pt Kreon,'Times New Roman', Times, serif;
}
footer li {
  margin:0px 0px 0px 0px;
  padding:0px;
  list-style-type:none;
}
footer li i {
  margin:0px 7px 0px 5px;
}
footer ul {
  margin:0px;
  padding:0px;
}
@media only print {
  footer, .top-panel {
    display:none !important;
  }
  .info {
    display:none;
  }
}

/* ----------------------------------------------------------------------------------- */
/* Content - formatting of standard documents                                          */
/* ----------------------------------------------------------------------------------- */

.rdecor {
}

.wdecor {
  margin:15px;
  text-align:center;
}

a:hover {
  text-decoration:none;
}
article {
  font-size:12pt;
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  padding-top:40px;
}
article p, article li {
  line-height:18pt;
}
article p {
  margin-bottom:15px;
}
.default article p {
  line-height:19.5pt;
}
.default article li {
  line-height:19.5pt;
}
article blockquote, article blockquote p {
  font-size:12pt;
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  color:#808080;
}
article .h1-datepub {
  font:300 14pt Kreon,'Times New Roman', Times, serif;
  margin:-6px 0px 20px 0px;
}
article .h2-datepub {
  font:300 13pt Kreon,'Times New Roman', Times, serif;
  margin:-6px 0px 20px 0px;
}
article .h3-datepub {
  font:300 13pt Kreon,'Times New Roman', Times, serif;
  margin:-6px 0px 20px 0px;
}
article a {
  color:#007299;
}
article a:focus, article a:active, article a:hover {
  color:#008DBC;
  text-decoration:none;
}
article h1 {
  font:300 24pt Kreon,'Times New Roman', Times, serif;
  line-height:24pt;
  color:#00202D;
}
article h1 span.hm {
  display:inline;
  font-weight:400;
}
article h1 .hm:after {
   content: ":";
}

article h2 {
  font:300 19pt Kreon,'Times New Roman', Times, serif;
  margin-top:25px;
  line-height:22pt;
}
article h2 .hs {
  font-weight:300;
}
article h3 {
  font:400 15pt Kreon,'Times New Roman', Times, serif;
  margin-top:25px;
  line-height:18pt;
}
article h4 {
  font:700 13pt Kreon,'Times New Roman', Times, serif;
  margin-top:25px;
  line-height:125%;
}
a:not([href]), a:not([href]):hover, a:not([href]):active, 
  article a.nocolor:link, article a.nocolor:hover, article a.nocolor:active, article a.nocolor:visited {
    color:black;
}
article ul, article ol {
  margin:0px 0px 15px 0px;
  padding:0px;
}
article li {
  margin:0px 0px 0px 35px;
  padding:0px;
}
article ul.spaces li {
  margin-bottom:10px;
}
article table tr td, table tr th {
  font-size:inherit;
}
article .noblue, article .noblue:hover, article .noblue:active {
  color:black;
}

article div.info p.share {
  margin-top:40px;
}
article div.info p.share a {
  font-size:18pt;
  margin-right:6px;
}
article div.info {
  line-height:18pt;
  padding:0px 0px 0px 0px;
  text-align:right;
  font-style:italic;
}

/* Ad hoc tweaks */
article.academic h2 {
  margin-top:40px;
}
article.academic h2.first {
  margin-top:10px;
}
article.academic i.decor {
  font:800 30pt Kreon;
  float:right;
  color:#007299;
}
article.paper blockquote {
  border-left-style:none;
  padding:0px;
  margin:-6px 0px 20px 0px;  
}
article.paper blockquote p {
  padding:0px;
  margin:0px;
  font:300 15pt Kreon,'Times New Roman', Times, serif;
  color:#333;
}
@media only screen and (min-width : 768px) {
  .rdecor {
    float:right;
    margin:10px;
  }
  .rdecor-sm {
    float:right;
    margin:30px;
  }
}
@media only screen and (min-width : 992px) {
  article.post .wdecor {
    margin:20px -100px 20px -100px;
  }
  article.post .rdecor {
    margin-right:-100px;
  }
  article.post .rdecor-sm {
    margin-right:-50px;
  }
}
@media only screen and (min-width : 1200px) {
  article.post .wdecor {
    margin:30px -200px 30px -200px;
  }
  article.post .rdecor {
    margin-right:-200px;
  }
  article.post .rdecor-sm {
    margin-right:-100px;
  }
}


/* ----------------------------------------------------------------------------------- */
/* Calendar pages - index for month and month detail                                   */
/* ----------------------------------------------------------------------------------- */

.calendar-year h1 {
  font:300 30pt Kreon,'Times New Roman', Times, serif;
  text-align:center;
  margin:30px 0px 40px 0px;
  color:#00202D;
}
.calendar-year {
  padding-bottom:50px;
}
.calendar-year-item {  
  text-align:center;
  background:#001721;
  color:#808F96;
  padding:20px 10px 20px 10px;
  margin:10px 0px 20px 0px;
}
.calendar-year-item .wrapper1 {
  display:table;
  min-height:240px;
  width:100%;
}
.calendar-year-item .wrapper2 {
  display:table-cell;
  vertical-align:middle;
}
.calendar-year-item h2 {
  font:300 20pt Kreon,'Times New Roman', Times, serif;
  text-align:center;
  margin:0px 0px 10px 0px;
}
.calendar-year-item h2 a, .calendar-year-item h2 a:hover, .calendar-year-item h2 a:active {
  color:#ABBEC6;
}
.calendar-month h1 {
  font:300 30pt Kreon,'Times New Roman', Times, serif;
  text-align:center;
  margin:30px 0px 40px 0px;
  color:#ABBEC6;
}
.calendar-month {
  text-align:center;
  background:#00202D;
  color:#808F96;
  padding:15px 10px 45px 10px;
  margin-top:50px;
  margin-bottom:50px;
}
.calendar-year-item img, .calendar-month img {
  max-width:80%;
}
.calendar-month p {
  margin-top:40px;
  color:#808F96;
  font:300 14pt Kreon,'Times New Roman', Times, serif;
}
.calendar-month p span {
  margin:0px 1px 0px 2px;
}
.calendar-month p .highlighted {
  font-weight:700;
  color:#ABBEC6;
}


/* ----------------------------------------------------------------------------------- */
/* Some special formatting for the home page                                           */
/* ----------------------------------------------------------------------------------- */

.black-box {
  text-align:center;
  background:#00202D;
  color:#808F96;
  padding:20px 0px 20px 0px;
  margin:60px 20px 0px 20px;
}
.black-box p {
  font-size:10pt;
  margin:20px 20px 0px 20px;
}
.black-box a {
  color:#C6CDD0;
}
.black-box a:hover, .black-box a:active {
  color:white;
}
.calendar-box h3 {
  font:300 18pt Kreon,'Times New Roman', Times, serif;
  text-align:center;
  margin:0px 10px 20px 0px;
}
.calendar-box h3 a, .calendar-box h3 a:hover, .calendar-box h3 a:active {
  color:#ABBEC6;
}
.talks-box {
  text-align:left;
  padding:20px;
}
.talks-box h2 {
  color:#ABBEC6;
}
/* ----------------------------------------------------------------------------------- 
/* Header - title, menu, etc.                                                          
/* ----------------------------------------------------------------------------------- 

/* Customize how the navigation bar looks 
.top-bar-header ul, .top-bar-header li, .top-bar-header nav, .top-bar-header div {
  background: transparent;
}

.top-bar-header nav {
  background: white;
  border-bottom:4px solid black;
  height:40px;
  overflow:hidden;
}
.top-bar ul  {
  background:white;
}
.top-bar ul li {
  height:37px !important;
  margin-left:10px;
  background:black;
  padding:0px 10px 0px 10px;
  text-align:right;
}
.top-bar ul .name {
  background: white;
}
.top-bar ul .menu-icon {
  text-align:center;
}
.top-bar ul .menu-icon a span {
  margin:4px 10px 0px 0px;
}
.top-bar ul .menu-icon a:link, .top-bar ul .menu-icon a:visited {
  line-height:170%;
  text-indent:-100px !important;
  width:100px !important;
}
.top-bar ul li a:link, .top-bar ul li a:visited {
  line-height:100%;
  font-family:Kreon,'Times New Roman', Times, serif;
  font-weight:700;
  font-size:120%;
  background:black;
}
@media only screen and (min-width: 768px) {
  .top-bar ul li a:link, .top-bar ul li a:visited {
    line-height:200%;
  }
  .top-bar ul li {
    text-align:center;
  }
}

/* ----------------------------------------------------------------------------------- 
/* Right bar - calendar, information, etc.                                             
/* ----------------------------------------------------------------------------------- 

#right-bar {
  padding-right:0px;
  padding-left:20px;
  font-size:85%;
  font-family:'PT Sans','Trebuchet MS', sans-serif
}

#right-bar h3 {
  font:300 180% Kreon,'Times New Roman', Times, serif;
  line-height:100%;
}
#right-bar h4 {
  font:300 160% Kreon,'Times New Roman', Times, serif;
  line-height:100%;
  margin:25px 0px 15px 0px;
}
#right-bar .right-item {
  margin-bottom:20px;
  padding:10px;
}
#right-bar p, #right-bar ul {
  margin:5px 0px 10px 0px;
}
#right-bar li {
  margin:0px 0px 0px 20px;
}
#right-calendar, #hp-calendar, #acad-photo {
  text-align:center;
  background:black;
  margin-bottom:40px;
}
#right-calendar h4, #hp-calendar h4, #acad-photo h4 {
  margin:0px 0px 15px 0px;
  font-size:140%;
  color:#d0d0d0;
  text-align:center;
}
#right-calendar p, #hp-calendar p, #acad-photo p {
  margin:10px 0px 5px 0px;
  color:#b0b0b0;
  font-size:90%;
}
/* Tweak Lanyrd listing 
#right-bar ol.lanyrd-listing p,
#right-bar ol.lanyrd-listing li,
#right-bar ol.lanyrd-listing p strong,
#right-bar ol.lanyrd-listing h5,
#right-bar ol.lanyrd-listing h5 a,
#right-bar ol.lanyrd-listing p abbr {
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  font-weight:normal;
  margin:0px;
  padding:0px;
  font-size:inherit;
}
#right-bar ol.lanyrd-listing h5 a {
  font-weight:bold;
}
#right-bar ol.lanyrd-listing li {
  margin:0px 0px 10px 25px;
}

#hp-calendar {
  padding:20px 0px 20px 0px;
  margin:60px 20px 0px 20px;
}
#hp-calendar h4 {
  font:300 160% Kreon,'Times New Roman', Times, serif;
  margin-bottom:20px;
}
#hp-calendar p {
  font-size:90%;
  margin:20px 20px 0px 20px;
}
#acad-photo {
  font-size:90%;
  padding:30px 0px 10px 0px;
}

/* ----------------------------------------------------------------------------------- 
/* Calendar pages - index for month and month detail                                   
/* ----------------------------------------------------------------------------------- 

.cal-details h1, .cal-index h1 {
  font:300 250% Kreon,'Times New Roman', Times, serif;
  line-height:100%;
  text-align:center;
  margin:30px 0px 40px 0px;
}
.cal-index .columns {
  margin-bottom:30px;
  position:relative;
}
.cal-month {
  text-align:center;
  background:black;
  height:100%;
  padding:15px 0px 25px 0px;
  min-height:330px;
}
.cal-month h2 {
  font:300 160% Kreon,'Times New Roman', Times, serif;
  color:#d0d0d0;
  margin:0px 0px 10px 0px;
  text-align:center;
}
.cal-month .wrapper1 {
  display:table;
  min-height:240px;
  width:100%;
}
.cal-month .wrapper2 {
  display:table-cell;
  vertical-align:middle;
}
.cal-box h1 {
  color:#d0d0d0;
}
.cal-box {
  background:black;
  text-align:center;
  width:100%;
  padding:20px 0px 40px 0px;
  margin:20px 0px 30px 0px;
}
.cal-box img {
  border-style:none;
}
.cal-box p {
  margin-top:50px;
  color:#a0a0a0;
  font:300 140% Kreon,'Times New Roman', Times, serif;
}
.cal-box p .sun {
  font-weight:700;
  color:#f0f0f0;
}

/* ----------------------------------------------------------------------------------- 
/* Some special formatting for the home page                                           
/* ----------------------------------------------------------------------------------- 

.hp h2 {
  font:300 130% Kreon,'Times New Roman', Times, serif;
  margin-bottom:5px;
}
.hp .smdate {
  font:300 100% Kreon,'Times New Roman', Times, serif;
  margin:0px 0px 10px 0px;
}
article p.meta {
  line-height:150%;
  text-align:right;
  font-style:italic;
  margin:15px 10px 30px 0px;
}
h2.first {
  margin-top:0px;
}

/* And for blog posts 
article .addthis_toolbox  {
  float:right;
  margin-top:30px;
  padding:10px 0px 10px 0px;
}
article .addthis_counter {
  border-right:1px solid #d0d0d0;
}
article p.post-discuss {
  font-size:95%;
  line-height:150%;
  margin:30px 0px 0px 0px;
  text-align:left;
  font-style:italic;
}
article p.post-discuss span  {
   color:#222222 !important;
}
article p.post-discuss span a  {
   color:#2ba6cb !important;
}
article p.post-meta {
  font-size:95%;
  line-height:150%;
  text-align:right;
  font-style:italic;
  margin:80px 10px 30px 0px;
}

/* ----------------------------------------------------------------------------------- 
/* Some special formatting for academic web sites                                      
/* ----------------------------------------------------------------------------------- 

/* Acadmic hompage, publication list 
.academic .publist blockquote {
  border-style:none;
  color:#222222;
  padding:0px;
  margin:0px;
}
.academic .publist blockquote p {
  color: #222222;
  margin:0em 0px 0.5em 0px;
}
.academic .publist p {
  margin-bottom:0.5em;
}
.academic .publist h4 strong {
  float:right;
  font-family:'PT Sans','Trebuchet MS', sans-serif;
  font-weight:normal;
  font-size:75%;
  color:#d00000;
}
.academic .publist ul {
  margin:0px;
  padding:0px;
  text-align:right;
}
.academic .publist li {
  margin:0px;
  padding:0px;
  list-style:none;
}

/* Paper details list 
.paper blockquote {
  border-style:none;
  color:#222222;
  padding:0px;
  margin:1.5em 0px 1.75em 0px;
}
.paper blockquote p {
  color: #222222;
  font-size:110%;
  font-style:italic;
  margin:0em 0px 0em 0px;
}
.paper #cite {
  color:#222222;
  cursor:inherit;
}
/* also see #acad-photo defined above 

.black-box {
  background:black;
  font-size:90%;
  padding:5px 20px 10px 20px;
  color:#d0d0d0;
  margin:20px 0px 30px 0px;
}
.black-box h2 {
  font:300 170% Kreon,'Times New Roman', Times, serif;
  margin-top:15px;
  line-height:100%;
  color:#d0d0d0;
}
.black-box h3 {
  font:700 130% Kreon,'Times New Roman', Times, serif;
  margin-top:15px;
  line-height:100%;
  color:#d0d0d0;
}
.black-box h4 {
  font:700 110% Kreon,'Times New Roman', Times, serif;
  margin-top:15px;
  line-height:125%;
  color:#d0d0d0;
}
.black-box ul li {
  margin-bottom:5px;
  line-height:1.3em;
}
*/
