/*------------------------------------------------------------------------- */
/* Formatting for F# code snippets 
/*--------------------------------------------------------------------------*/

/* strings --- and stlyes for other string related formats */
span.s, span.str { color:#E0E268; }
/* printf formatters */
span.pf { color:#E0C57F; }
/* escaped chars */
span.e { color:#EA8675; }
/* identifiers --- and styles for more specific identifier types */
span.i, span.fn, span.id { color:#d1d1d1; }
/* type or module */
span.t { color:#43AEC6; }
/* function */
span.f { color:#e1e1e1; }
/* DU case or active pattern */
span.p { color:#4ec9b0; }
/* keywords */
span.k, span.kwrd { color:#FAB11D; }
/* comment */
span.c, span.rem { color:#808080; }
/* operators */
span.o, span.op { color:#af75c1; }
/* numbers */
span.n { color:#96C71D; }
/* line number */
span.l { color:#80b0b0; }
/* mutable var or ref cell */
span.v { color:#d1d1d1; font-weight: bold; }
/* inactive code */
span.inactive { color:#808080; }
/* preprocessor */
span.prep, span.preproc { color:#af75c1; }

/* omitted */
span.omitted { background:#3c4e52; border-radius:5px; color:#808080; padding:0px 0px 1px 0px; }
span.html { color:#af75c1; }
span.attr, span.asp { color:#af75c1; }
span.fsi { font-style:italic; color:#888888; }

/* tool tip */
div.tip {
	background:#475b5f;
  border-radius:4px;
  font:400 10pt 'PT Sans', arial, sans-serif;
	padding:6px 8px 6px 8px;
	display:none;
  color:#eaeaea;
}

pre {
	margin:10px 20px 20px 20px;
	width:calc(100% - 40px);
  background-color:#00202D;
  border-radius:5px;
  color:#eaeaea;  
}
code {
	font:10pt 'Droid Sans Mono', consolas, monospace;
  padding:1px 3px 1px 3px;
	background:transparent;
}
pre, pre code {
	font:9pt 'Droid Sans Mono', consolas, monospace;
	line-height:18px;
}

table.pre {
  margin:10px 20px 20px 20px;
	width:calc(100% - 40px);
  background-color:#00202D;
  border-radius:5px;
  color:#eaeaea;  
}
table.pre td.lines {
	padding:10px 0px 10px 10px;
}
table.pre td.snippet {
	padding:10px 10px 10px 0px;
}
table.pre td {
	padding:0px;
}

table.pre pre {
	padding:0px;
  margin:0px;
	width:auto;
	border-radius:0px;
	border-style:none;
	background:transparent;
	color:inherit;
} 

table.pre td.lines {
	width:20px;
}
